{% extends "::base.html.twig" %}

{% block title %}AvekApetiBackBundle:Main:index{% endblock %}

{% block body %}
<h1>Welcome to the Admin Main:index page</h1>

    <a href="{{ path("utilisateur")}}">Redirection utilisateur</a><br>
    <a href="{{ path("chef")}}">Redirection chef</a><br>
    <a href="{{ path("groupe")  }}">Redirection groupe</a><br>
    <a href="{{ path("typelivraison")  }}">Redirection typelivraison</a><br>
    <a href="{{ path("specialite")  }}">Redirection specialite</a><br>
    <a href="{{ path("plat")  }}">Redirection plat</a><br>
    <a href="{{ path("message")  }}">Redirection message</a><br>
    <a href="{{ path("menu")  }}">Redirection menu</a><br>
    <a href="{{ path("facturation")  }}">Redirection facturation</a><br>
    <a href="{{ path("commande")  }}">Redirection commande</a><br>
    <a href="{{ path("categorie")  }}">Redirection categorie</a><br>
    <a href="{{ path("campagne")  }}">Redirection campagne</a><br>
    <a href="{{ path("avis")  }}">Redirection avis</a>

{% endblock %}
