<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Avekapeti 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/avekapeti"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href={{ path('gourmet_cgu') }}>CGU</a></li>
                    <li><a href={{ path('gourmet_aide') }}>Besoin d'aide ?</a></li>
                    <li><a href={{ path('gourmet_charte') }}>Charte d'hygiène Chef</a></li>
                    <li><a href={{ path('gourmet_ccm') }}>Comment ça marche ?</a></li>
                    <li><a href={{ path('gourmet_confiance') }}>Confiance et transparence</a></li>
                    <li><a href={{ path('gourmet_questions') }}>Questions fréquentes</a></li>
                    <li><a href="#">Politique cookies</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>