<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href={{ path('gourmet_homepage') }}>
                <img src="{{ asset('bundles/gourmet/img/logo/avekapeti-logo-RVB-02.png') }}" class="img-responsive logo-nav" alt="logo">
                Avekapeti <i style="text-transform: lowercase">beta</i>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="navbar-collapse bs-example-js-navbar-collapse collapse" aria-expanded="false" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if (is_granted('ROLE_SUPER_ADMIN')) %}
                    <li>
                        <a class="titre-menu" style="color:#ffada2" href={{ path('index') }}>Admin</a>
                    </li>
                {% endif %}
                {% if (is_granted('ROLE_CHEF')) and (app.user) %}
                    <li role="presentation" class=" dropdown">
                            <a id="dropChef" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" >
                                <div class="titre-menu">Chef
                                    <span class="caret"></span>
                                </div>
                                <i class="fa fa-3x fa-cutlery "></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropChef">
                                <li>
                                    <a href={{ path('chef_plat') }}>Mes plats</a>
                                </li>
                                <hr>
                                <li>
                                    <a href={{ path('chef_plat_new') }}>Proposer un nouveau plat</a>
                                </li>
                                <hr>
                                <li>
                                    <a href={{ path('chef_commande') }}>Mes commandes</a>
                                </li>
                                <hr>
                                <li>
                                    <a href={{ path('chef_profil') }}>Modifier mon profil Chef</a>
                                </li>
                            </ul>
                    </li>
                {% else %}
                    <li>
                        <a class="page-scroll" href={{ path('gourmet_chef_inscription_page') }}>
                            <div class="titre-menu ">Devenez Chef</div>
                        </a>

                    </li>
                {% endif %}

                {% if (is_granted('ROLE_GOURMET')) and (app.user)%}
                    <li role="presentation">
                            <a href={{ path('gourmet_message') }}>
                                <div class="titre-menu">
                                    Messages
                                </div>
                                <i class="fa fa-3x fa-comment-o"></i>
                            </a>
                    </li>
                    <li role="presentation" class=" dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="titre-menu">{{ app.user.username }}
                                <span class="caret"></span>
                            </div>
                            {% if app.user.image %}
                                <img src="{{ app.user.image.webPath|imagine_filter('profil_picture_small') }}" alt="" class="img-circle">
                            {% else %}
                                <img src={{ asset('bundles/gourmet/img/defaut/defaut-icon.png') }} alt="" class="img-circle">
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href={{ path('gourmet_commande') }}>Mes commandes</a>
                            </li>
                            <hr>
                            <li>
                                <a href={{ path('gourmet_profil') }}>Modifier mon profil</a>
                            </li>
                            <hr>
                            <li>
                                <a>Mon profil</a>
                            </li>
                            <hr>

                            <li>
                                <a>Mes favoris</a>
                            </li>
                            <hr>
                            <li>
                                <a href={{ path('logout') }}>Déconnexion</a>
                            </li>

                        </ul>
                    </li>

                {% else %}
                    <li>
                        <a class="titre-menu" href={{ path('gourmet_gourmet_inscription_page') }}>Inscription</a>
                    </li>
                    <li>
                        <a class="titre-menu" href={{ path('gourmet_loginpage') }}>Connexion</a>
                    </li>
                {% endif %}

                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="titre-menu">Aide
                            <span class="caret"></span>
                        </div>
                        <i class="fa fa-3x fa-question"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href={{ path('gourmet_contactpage') }}>Contact</a>
                        </li>
                        <hr>
                        <li>
                            <a href={{ path('gourmet_feedbackpage') }}>Feedback</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation" class="">
                    <a  href="{{ path('panier_index') }}">
                        <div class="titre-menu">Panier</div>
                        <i class="fa fa-3x fa-shopping-cart "></i>
                        {% if  app.user %}
                            {% if  app.user.hasAttribute('Panier',app.request) %}
                                <span class="Panier_nb">{{ app.user.getAttribute('Panier',app.request).getCount() }}</span>
                            {% endif %}
                        {% endif %}
                    </a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


