{%  extends 'GourmetBundle::layout.html.twig' %}

{% block titre %}Mes messages {{ parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription" id="header-liste-msg">
        <div class="header-content header-content-transform">
            <div class="header-content-inner">
                <h1 class="h1-page">Mes messages</h1>
                <h2 class="adresse-selection">Chef {{ app.user.username }}</h2>
            </div>
        </div>
    </header>

    <section id="page-liste-msg">
        <div class="container">

            <div class="col-sm-12 text-center photo-mon-compte ">
                {% if entityUser.image %}
                    <img src="{{ entityUser.image.webPath|imagine_filter('profil_picture') }}" alt="" class="img-circle">
                {% else %}
                    <img src={{ asset('bundles/gourmet/img/defaut/defaut-icon.png') }} alt="" class="img-circle">
                {% endif %}
            </div>

            <div class="row">

                {% if entities2|length > 0  and entities|length > 0%}
                    <div class="row">
                        <div class="col-md-12 text-center titre-compte">
                            <h3 class="section-heading">Vous n'avez pas encore de message</h3>
                            <hr class="primary">
                        </div>
                    </div>
                {% endif %}

                {% if entities2|length > 0 %}
                <div class="col-sm-12 tableau-msg {% if entities|length > 0 %} col-md-6 {% else %} col-md-8 col-md-offset-2" {% endif %}">

                    <div class="row">
                        <div class="col-md-12 text-center titre-compte">
                            <h3 class="section-heading">Mes messages reçus</h3>
                            <hr class="primary">
                        </div>
                    </div>

                    {% for entity2 in entities2 %}

                        <div class="row " {% if entity2.accLecture == 1 %} id="ligne-active" {% else %} id="ligne-desactive" {% endif %}>
                            <div class="col-sm-2 col-xs-6  text-center">
                                <div class="cellule-img">
                                    <a href="{{ path('chef_plat_show', { 'id': entity2.id }) }}">
                                        {% if entity2.emetteuruser.image %}
                                            <img src="{{ entityUser.image.webPath|imagine_filter('profil_picture_small') }}" alt="" >
                                        {% else %}
                                            <img src={{ asset('bundles/gourmet/img/defaut/defaut-icon.png') }} alt="">
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-6  text-center">
                                <div class="cellule-img">
                                    <a href="{{ path('gourmet_message_show', { 'id': entity2.id }) }}">
                                        <h4 class="lien-hover">{{ entity2.emetteuruser.login }}</h4>
                                    </a>
                                    {% if entity2.dateCreated %}<h5>{{ entity2.dateCreated|date('d/m/Y') }}</h5>{% endif %}
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="cellule-titre nom-plat">
                                    <a href="{{ path('gourmet_message_show', { 'id': entity2.id }) }}">
                                        <h4 class="lien-hover">{{ entity2.item }}</h4>
                                    </a>

                                    <a href="{{ path('gourmet_message_show', { 'id': entity2.id }) }}">
                                        <p>{{ entity2.content }}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="cellule-modifier ">
                                    <a href="{{ path('gourmet_message_show', { 'id': entity2.id }) }}" class="btn btn-default btn-filtre btn-plus-filtres"><i class="fa fa-1x fa-eye"></i>Voir</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                {% endif %}

                <div class="col-sm-12 tableau-msg {% if entities2|length > 0 %} col-md-6 {% else %} col-md-8 col-md-offset-2" {% endif %}>

                <div class="row">
                    <div class="col-lg-12 text-center titre-compte">
                        <h3 class="section-heading">Mes messages envoyés</h3>
                        <hr class="primary">
                    </div>
                </div>

                {% for entity in entities %}

                        <div class="row " {% if entity.accLecture == 1 %} id="ligne-active" {% else %} id="ligne-desactive" {% endif %}>
                            <div class="col-sm-2 col-xs-6 text-center">
                                <div class="cellule-img">
                                    <a href="{{ path('chef_plat_show', { 'id': entity.id }) }}">
                                        {% if entity.destuser.image %}
                                            <img src="{{ entityUser.image.webPath|imagine_filter('profil_picture_small') }}" alt="" >
                                        {% else %}
                                            <img id="defaut-img" src={{ asset('bundles/gourmet/img/defaut/defaut-icon.png') }} alt="">
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-6  text-center">
                                <div class="cellule-img">
                                    <a href="{{ path('gourmet_message_show', { 'id': entity.id }) }}">
                                        <h4 class="lien-hover">{{ entity.destuser.login }}</h4>
                                    </a>
                                    {% if entity.dateCreated %}<h5>{{ entity.dateCreated|date('d/m/Y') }}</h5>{% endif %}
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="cellule-titre nom-plat">
                                    <a href="{{ path('gourmet_message_show', { 'id': entity.id }) }}">
                                        <h4 class="lien-hover">{{ entity.item }}</h4>
                                    </a>

                                    <a href="{{ path('gourmet_message_show', { 'id': entity.id }) }}">
                                        <p>{{ entity.content }}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="cellule-modifier grande-recherche">
                                    <a href="{{ path('gourmet_message_show', { 'id': entity.id }) }}" class="btn btn-default btn-filtre btn-plus-filtres"><i class="fa fa-1x fa-pencil"></i>Voir</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>


            </div>

            <div class="col-sm-12 text-center">
                <a href="{{ path('gourmet_message_new') }}" class="btn btn-default btn-xl">Ecrire un message</a>
            </div>

        </div>
    </section>
{% endblock content %}
