{% if entities|length == 0 %}
    <div class="col-lg-12 text-center titre-compte">
        <h2 class="section-heading">Nous sommes désolés...</h2>
        <h3 class="section-heading">Nous n'avons aucun plat à vous proposer</h3>
        <hr class="primary">
        <p>Réessayer en <a href={{ path('gourmet_homepage') }}>modifiant votre adresse</a></p>

    </div>
{% else %}

    <div class="row">

        {% for entity in entities %}
            <div class="col-sm-6">
                <div class="thumbnail">

                    <a href="{{ path('gourmet_platpage', { 'id': entity.id }) }}">
                        <div class="monde-zoom">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <div class="project-category ">
                                        {{ entity.utilisateur.login }}
                                    </div>
                                    <div class="project-name">
                                        {{ entity.utilisateur.adress }}, {{ entity.utilisateur.city }}
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-part">
                                <p>{{ entity.quantity }} {% if entity.quantity>1 %} parts restantes {% else %} part restante {% endif %} <i class="fa fa-1x fa-home"></i><i class="fa fa-1x fa-bicycle"></i></p>
                            </div>
                            {% if entity.image %}
                                <img src="{{ entity.image.webPath|imagine_filter('plat_picture_small') }}" alt="" >
                            {% else %}
                                <img src={{ asset('bundles/gourmet/img/defaut/defaut2.jpg') }} class="img-defaut" alt="">
                            {% endif %}
                        </div>
                    </a>
                    <div class="caption">
                        <a href=# class="lien-image-chef" >
                            <div class="panel-image-chef">
                                {% if entity.utilisateur.image %}
                                    <img src="{{ entity.utilisateur.image.webPath|imagine_filter('profil_picture') }}" alt="" class="img-circle">
                                {% else %}
                                    <img src={{ asset('bundles/gourmet/img/defaut/defaut-icon.png') }} alt="" class="img-circle">
                                {% endif %}
                            </div>
                        </a>
                        <h4 class="nom-plat"><a href="{{ path('gourmet_platpage', { 'id': entity.id }) }}"><span class="lien-hover">{{ entity.name }}</span> - {{ entity.price }} €</a></h4>
                    </div>
                    <div class="ratings">
                        <a href="{{ path('gourmet_platpage', { 'id': entity.id }) }}">
                            <p>Africaine -
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                - 3 commentaires
                            </p>
                        </a>
                    </div>
                    <div class="geoloc" data-lat="{{ entity.utilisateur.chef.lat }}" data-lng="{{ entity.utilisateur.chef.lng }}"></div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endif %}