{% if entities|length == 0 %}
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Malheureusement les chefs sont de repos aujourd'hui</h2>
        <hr class="primary">
        <p>Mais n'hésitez pas à retenter demain! Vous pouvez aussi nous envoyer un message pour nous le signaler, nous chercherons d'autres chefs dans votre quartier :-) <a href="mailto:contact@avekapeti.com">contact@avekapeti.com</a></p>
        <div class="alert alert-info" role="alert">
            <p><strong>Le saviez-vous?</strong> Si aucun plat n'est disponible à cette adresse, vous n'avez pas besoin de revenir à la page d'accueil pour la modifier, il suffit de déplacer le curseur sur la carte à droite, c'est magique :-)</p>
        </div>
    </div>
{% else %}

    <div class="row">

        {% for entity in entities %}
            <div class="col-sm-6">
                <div class="thumbnail">

                    <a href="{{ path('gourmet_platpage', { 'id': entity.id }) }}">
                        <div class="monde-zoom">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <div class="project-category ">
                                        {{ entity.utilisateur.login }}
                                    </div>
                                    <div class="project-name">
                                        {{ entity.utilisateur.chef.adress }}, {{ entity.utilisateur.chef.city }}
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-part">
                                <p>{{ entity.quantity }} {% if entity.quantity>1 %} parts restantes {% else %} part restante {% endif %} <i class="fa fa-1x fa-home"></i><i class="fa fa-1x fa-bicycle"></i></p>
                            </div>
                            {% if entity.image %}
                                <img src="{{ entity.image.webPath|imagine_filter('plat_picture_small') }}" alt={{ entity.name}} >
                            {% else %}
                                <img src={{ asset('bundles/gourmet/img/defaut/defaut2.jpg'|imagine_filter('plat_picture_small')) }} class="img-defaut" alt="">
                            {% endif %}
                        </div>
                    </a>
                    <div class="caption">
                        <a href="{{ path('gourmet_chefpage', { 'id': entity.utilisateur.chef.id }) }}" class="lien-image-chef" >
                            <div class="panel-image-chef">
                                {% if entity.utilisateur.image %}
                                    <img src="{{ entity.utilisateur.image.webPath|imagine_filter('profil_picture') }}" alt="" class="img-circle">
                                {% else %}
                                    <img src={{ asset('bundles/gourmet/img/defaut/defaut-icon.png') }} alt="" class="img-circle">
                                {% endif %}
                            </div>
                        </a>
                        <h4 class="nom-plat"><a href="{{ path('gourmet_platpage', { 'id': entity.id }) }}"><span class="lien-hover">{{ entity.name }}</span> - {{ entity.price }} €</a></h4>
                    </div>
                    <div class="ratings">
                        <a href="{{ path('gourmet_platpage', { 'id': entity.id }) }}">
                            <p>Spécialité : Africaine
                                {#
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                <span class="glyphicon glyphicon-heart"></span>
                                - 3 commentaires
                                #}
                            </p>
                        </a>
                    </div>
                    <div class="geoloc" data-lat="{{ entity.utilisateur.chef.lat }}" data-lng="{{ entity.utilisateur.chef.lng }}"></div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endif %}