{%  extends  "@GourmetBundle/Resources/views/layout.html.twig" %}

{% block foot_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/home/js/home.js') }}"></script>
{%  endblock foot_scripts %}

{% block titre %}Plat{{ parent() }}{% endblock %}

{% block content %}

    <header class="header header-index-plat">
    </header>

    <!-- Page Content -->
    <div class="container index-plat">

        <div class="row">

            <div class="col-md-3 portrait-chef">
                <a href="#">
                    <div class="monde-zoom">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <div class="project-category ">
                                    Chef Ludo94
                                </div>
                                <div class="project-name">
                                    Rue Boileau, Paris
                                </div>
                            </div>
                        </div>
                        <img class="img-responsive img-hover img-related" src={{ asset('bundles/gourmet/img/chef/chef77.jpg') }} alt="" >
                    </div>
                </a>
                <iframe class="petite-carte" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d42002.097395699224!2d2.2577908499999997!3d48.85571065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1448422160580" width="290" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <div class="caption-full">
                        <h4 class="nom-plat pull-right">11 €</h4>
                        <h4 class="nom-plat">Roti De Boeuf Esterhazy
                        </h4>
                        <div class="ratings">
                            <a href="{{ path('gourmet_platpage') }}">
                                <p>Viande -
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    - 14 commentaires
                                </p>
                            </a>
                        </div>
                        <p class="description-plat">La gastronomie s’affranchit des frontières, pour cela il n’a pas fallu attendre l’unification européenne. La monarchie autrichienne regorge d’exemples. Dans le cas précis, nous devons la recette de ce rôti de bœuf fondant à l’illustre famille des Esterházys, dont les membres ne furent pas seulement mécènes généreux et politiciens influents, mais aussi fins gourmets. Tartes, tartines et escalopes portant leur nom ont immortalisé cette dynastie issue de la Hongrie et du Burgenland actuel.</p>
                    </div>
                </div>

                <div class="text-right">
                    <a class="btn btn-default btn-xl">Commander</a>
                </div>

                <div class="well">

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Fati
                            <span class="pull-right">novembre 2015</span>
                            <p class="commentaire">J’ai gouté ce roti de boeuf de Ludo94, il était excellent, on s’est régalé au bureau !<br>On recommande vivement !</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Florent
                            <span class="pull-right">octobre 2015</span>
                            <p class="commentaire">Un pur délice ! La viande fond dans la bouche. Bravo Ludo94 !</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            Lucas
                            <span class="pull-right">novembre 2015</span>
                            <p class="commentaire">Ma copine et moi avons adorés votre roti de boeuf ! C’était exquis et copieux merci beaucoup.</p>
                        </div>
                    </div>

                </div>
                <div class="text-right">
                    <a class="btn btn-default btn-filtre ">Laisser un commentaire</a>
                </div>


            </div>

        </div>

        <!-- Related Projects Row -->
        <div class="row vous-aimeriez">
            <div class="col-lg-12">
                <h3 class="page-header">Si vous aimez ce plat, vous pourriez aimer ...</h3>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <div class="monde-zoom">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <div class="project-category ">
                                    Chef Max75
                                </div>
                                <div class="project-name">
                                    Boulevard Exelmans, Paris
                                </div>
                            </div>
                        </div>
                        <img class="img-responsive img-hover img-related" src={{ asset('bundles/gourmet/img/plats/selection-plat/porcBraiseAuxLegumesRacines.jpg') }} alt="" >
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <div class="monde-zoom">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <div class="project-category ">
                                    Chef Luc95
                                </div>
                                <div class="project-name">
                                    Avenue Victor Hugo, Boulogne-Billancourt
                                </div>
                            </div>
                        </div>
                        <img class="img-responsive img-hover img-related" src={{ asset('bundles/gourmet/img/plats/selection-plat/knodelsAuLard.jpg') }} alt="" >
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <div class="monde-zoom">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <div class="project-category ">
                                    Chef Luc95
                                </div>
                                <div class="project-name">
                                    Avenue Victor Hugo, Boulogne-Billancourt
                                </div>
                            </div>
                        </div>
                        <img class="img-responsive img-hover img-related" src={{ asset('bundles/gourmet/img/plats/selection-plat/SaladeDePouletPané.jpg') }} alt="" >
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <div class="monde-zoom">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <div class="project-category ">
                                    Chef Max75
                                </div>
                                <div class="project-name">
                                    Boulevard Exelmans, Paris
                                </div>
                            </div>
                        </div>
                        <img class="img-responsive img-hover img-related" src={{ asset('bundles/gourmet/img/plats/selection-plat/kasknople.jpg') }} alt="" >
                    </div>
                </a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock content %}

