{%  extends 'GourmetBundle::layout.html.twig' %}

{% block foot_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/gourmet/js/home.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gourmet/js/search.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdYTi5aSKJ1iyKx-zEJKA3lRIzfdcSQfE&signed_in=true&libraries=places&callback=initMap"
    async defer></script>
{%  endblock foot_scripts %}

{% block titre %}Près de chez vous{{ parent() }}{% endblock %}

{% block content %}

    <header class="header" id="header-selection-plat">
        <div class="header-content header-content-transform">
            <div class="header-content-inner">
                <h1 class="h1-page">Du côté de chez vous</h1>
                {% if app.request.query.get("q") %}
                    <h2 class="adresse-selection">{{ app.request.query.get("q") }}</h2>
                {% endif %}
                <form class="form-inline form-recherche{% if app.request.query.get("q") %} hide{%endif%}" action="{{ path('gourmet_selection_platpage') }}" method="GET">
                    <div class="form-adresse">
                        <label for="adressInput"></label>
                        <input type="text" class="address-input" id="adressInput" placeholder="Où êtes-vous ?" name="q" value="{{ app.request.query.get("q") }}">
                    </div>
                    <button type="submit" class="btn btn-primary btn-xl">
                        <span class="glyphicon glyphicon-search glyphycon-loupe petite-recherche" aria-hidden="true"></span>
                        <span class="grande-recherche">Rechercher un plat</span>
                    </button>
                </form>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container petite-section" id="selection-plat">

        <div class="row">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 ">
                        <button class="btn btn-default btn-filtre btn-plus-filtres" type="button" data-target="#MonCollapseFiltre" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">
                            <i class="fa fa-1x fa-filter"></i>Filtres
                        </button>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-filtre" type="button">
                                    <i class="fa fa-1x fa-search"></i><span class="grande-recherche">Recherche</span>
                                </button>
                            </span>
                            <input type="search" class="form-control" placeholder="ex. Risotto, Tajine, Salade">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-filtre" type="button">
                                    <i class="fa fa-1x fa-exchange"></i><span class="grande-recherche">Nouvelle adresse</span>
                                </button>
                            </span>
                            <input type="search" class="form-control" placeholder="ex. 178 avenue de Versailles, Paris">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-8">

                <div class="col-md-12">
                    <div id="MonCollapseFiltre" class="collapse">
                        <form name="sentFilter" id="filter-form" novalidate>
                            <div class="bloc-filtre">
{#
                                <div class="btn-toolbar btn-toolbar-filtre" role="toolbar" aria-label="...">
                                    <p>Prix</p>
                                    <div class="btn-group btn-group-date" role="group" aria-label="..."  data-toggle="buttons">
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="plat-simple" autocomplete="off">
                                            <i class="fa fa-1x fa-smile-o"></i>Plat simple
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="plat-cuisiné" autocomplete="off">
                                            <i class="fa fa-1x fa-shopping-cart"></i>Plat cuisiné
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="gastronomie" autocomplete="off">
                                            <i class="fa fa-1x fa-eur"></i>Gastronomie
                                        </label>
                                    </div>
                                </div>
                                #}
                                {#
                                <div class="btn-toolbar btn-toolbar-filtre" role="toolbar" aria-label="...">
                                    <p>Type de cuisine</p>
                                    <div class="btn-group btn-group-date" role="group" aria-label="..."  data-toggle="buttons">
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="viande" autocomplete="off">
                                            <i class="fa fa-1x fa-fire"></i>Viande
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="poisson" autocomplete="off">
                                            <i class="fa fa-1x fa-eye"></i>Poisson
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="vegetarien" autocomplete="off">
                                            <i class="fa fa-1x fa-tree"></i>Végétarien
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="dessert" autocomplete="off">
                                            <i class="fa fa-1x fa-birthday-cake"></i>Dessert
                                        </label>
                                    </div>
                                </div>
                                #}

                                <div class="btn-toolbar btn-toolbar-filtre" role="toolbar" aria-label="...">
                                    <p>Repas</p>
                                    <div class="btn-group btn-group-date" role="group" aria-label="..."  data-toggle="buttons">
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="petit-dejeuner" autocomplete="off">
                                            <i class="fa fa-1x fa-bed"></i>Petit-déjeuner
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="dejeuner" autocomplete="off">
                                            <i class="fa fa-1x fa-sun-o"></i>Déjeuner
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="gouter" autocomplete="off">
                                            <i class="fa fa-1x fa-coffee "></i>Goûter
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="diner" autocomplete="off">
                                            <i class="fa fa-1x fa-moon-o"></i>Diner
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="plus-tard" autocomplete="off">
                                            <i class="fa fa-1x fa-calendar"></i>Plus tard
                                        </label>
                                    </div>
                                </div>

                                <div class="btn-toolbar btn-toolbar-filtre" role="toolbar" aria-label="...">
                                    <p>Nature</p>
                                    <div class="btn-group btn-group-date" role="group" aria-label="..."  data-toggle="buttons">
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="entree" autocomplete="off">
                                            <i class="fa fa-1x fa-sign-in"></i>Entrée
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="plat" autocomplete="off">
                                            <i class="fa fa-1x fa-cutlery"></i>Plat
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="dessert" autocomplete="off">
                                            <i class="fa fa-1x fa-birthday-cake"></i>Dessert
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="menu" autocomplete="off">
                                            <i class="fa fa-1x fa-book"></i>Menu
                                        </label>
                                    </div>
                                </div>

                                <div class="btn-toolbar btn-toolbar-filtre" role="toolbar" aria-label="...">
                                    <p>Spécialité</p>
                                    <div class="btn-group btn-group-date" role="group" aria-label="..."  data-toggle="buttons">
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="occidentale" autocomplete="off">
                                            <i class="fa fa-1x fa-umbrella"></i>Occidentale
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="africaine" autocomplete="off">
                                            <i class="fa fa-1x fa-globe "></i>Africaine
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="orientale" autocomplete="off">
                                            <i class="fa fa-1x fa-try "></i>Orientale
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="asiatique" autocomplete="off">
                                            <i class="fa fa-1x fa-jpy "></i>Asiatique
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="latino" autocomplete="off">
                                            <i class="fa fa-1x fa-globe "></i>Latino
                                        </label>
                                    </div>
                                </div>

                                <div class="btn-toolbar btn-toolbar-filtre" role="toolbar" aria-label="...">
                                    <p>Spécificité</p>
                                    <div class="btn-group btn-group-date" role="group" aria-label="..."  data-toggle="buttons">
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="vegetarienne" autocomplete="off">
                                            <i class="fa fa-1x fa-tree"></i>Végétarien
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="sans-porc" autocomplete="off">
                                            <i class="fa fa-1x fa-certificate "></i>Sans porc
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="pauvre-mg" autocomplete="off">
                                            <i class="fa fa-1x fa-certificate "></i>Pauvre en matière grasse
                                        </label>
                                    </div>
                                </div>



                                <div class="btn-toolbar btn-toolbar-filtre" role="toolbar" aria-label="...">
                                    <p>Commande</p>
                                    <div class="btn-group btn-group-date" role="group" aria-label="..."  data-toggle="buttons">
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="occidentale" autocomplete="off">
                                            <i class="fa fa-1x fa-home"></i>Livraison
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="africaine" autocomplete="off">
                                            <i class="fa fa-1x fa-bicycle "></i>Retrait
                                        </label>
                                    </div>
                                </div>
                                {#
                                <div class="btn-toolbar btn-toolbar-filtre" role="toolbar" aria-label="...">
                                    <p>Rayon</p>
                                    <div class="btn-group btn-group-date" role="group" aria-label="..."  data-toggle="buttons">
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="en-bas" autocomplete="off">
                                            <i class="fa fa-1x fa-home"></i>En bas de chez moi
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="a-pied" autocomplete="off">
                                            <i class="fa fa-1x fa-bicycle"></i>10 min à pied
                                        </label>
                                        <label class="btn btn-primary btn-filtre">
                                            <input type="radio" name="options" id="metro" autocomplete="off">
                                            <i class="fa fa-1x fa-subway"></i>Métro
                                        </label>
                                        </label>
                                    </div>
                                </div>
                                #}


                                <div>
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-default btn-xl">Appliquer les filtres</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="result-search-plat">
                    {% include 'GourmetBundle:Plat:include-selection-plat.html.twig' with {'entities':entities} only %}
                </div>


            </div>

            <div class="col-md-4 carte-fixe">
                <div class="carte-fixe-container">
                    <div id="map"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock content %}

