{%  extends 'GourmetBundle::layout.html.twig' %}

{% block foot_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/gourmet/js/Panier.js') }}"></script>
{% endblock foot_scripts %}

{% block titre %}Mon panier {{ parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription" id="header-panier">
        <div class="header-content header-content-transform">
            <div class="header-content-inner">
                <h1 class="h1-page">Mon panier</h1>
                <h2 class="adresse-selection">Emballé, c'est pesé</h2>
                <div class="col-md-6 col-md-offset-3">
                    {% for message in app.session.flashBag.get('addPanierNotQuantity') %}
                        <div class="flash-notice">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p><strong>Désolé !</strong> {{ message }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-md-6 col-md-offset-3">
                    {% for message in app.session.flashBag.get('error_qty_or_time_panier') %}
                        <div class="flash-notice">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p><strong>Désolé !</strong> {{ message }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>

    <section id="page-panier">
        <div class="container">



            <div class="col-sm-12 text-center photo-mon-compte ">
                {% if entity.image %}
                    <img src="{{ entity.image.webPath|imagine_filter('profil_picture') }}" alt="" class="img-circle">
                {% else %}
                    <img src={{ asset('bundles/gourmet/img/defaut/defaut-icon.png') }} alt="" class="img-circle">
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 titre-compte text-center">
                    <div id="widgetPanier">
                        <h3 class="section-heading">{{ render(controller('GourmetBundle:Panier:widgetPanier')) }}</h3>
                    </div>
                </div>
            </div>

            {% for message in app.session.flashBag.get('cancel_payment_command') %}
                <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
        </div>
    </section>

{% endblock content%}
