{%  extends 'GourmetBundle::layout.html.twig' %}

{% block titre %}Mes plats {{ parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription" id="header-liste-plat">
        <div class="header-content header-content-transform">
            <div class="header-content-inner">
                <h1 class="h1-page">Mes plats</h1>
                <h2 class="adresse-selection">Chef {{ app.user.username }}</h2>
            </div>
        </div>
    </header>

    <section id="page-liste-plat">
        <div class="container">

            <div class="col-sm-12 text-center photo-mon-compte ">
                {% if entityChef.image %}
                    <img src="{{ entityChef.image.webPath|imagine_filter('profil_picture') }}" alt="" class="img-circle">
                {% else %}
                    <img src={{ asset('bundles/gourmet/img/defaut/defaut-icon.png') }} alt="" class="img-circle">
                {% endif %}
            </div>

            <div class="row">

                {% if entities|length == 0 %}
                    <div class="col-lg-12 text-center titre-compte">
                        <h3 class="section-heading">Vous n'avez pas encore de plat</h3>
                        <hr class="primary">
                    </div>
                {% else %}
                    <div class="col-lg-12 text-center titre-compte">
                        <h3 class="section-heading">Visualisez vos plats</h3>
                        <hr class="primary">
                        <p>Vous pouvez activer ou désactiver un plat comme bon vous semble.</p>
                    </div>
                {% endif %}

                {% if entities|length > 0 %}
                <div id="tableau-plats" class="col-sm-12 col-md-10 col-md-offset-1 ">

                    {% for entity in entities %}
                        <div class="row" {% if entity.active == 1 %} id="ligne-active" {% else %} id="ligne-desactive" {% endif %}>
                            <div class="col-sm-4">
                                <div class="cellule-img">
                                    <a href="{{ path('chef_plat_show', { 'id': entity.id }) }}">
                                        {% if entity.image %}
                                            <img src="{{ entity.image.webPath|imagine_filter('plat_picture_small') }}" alt="" >
                                        {% else %}
                                            <img src={{ asset('bundles/gourmet/img/defaut/defaut2.jpg' | imagine_filter('plat_picture_small')) }} alt="">
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-5">
                                <div class="cellule-titre nom-plat">
                                    <a href="{{ path('chef_plat_show', { 'id': entity.id }) }}">
                                        <h3 class="lien-hover">{{ entity.name }}</h3>
                                    </a>
                                    <a href="{{ path('chef_plat_show', { 'id': entity.id }) }}">
                                        {% set prix_final = entity.price * 1.12 %}
                                        <h4>{{ entity.price|number_format(2, ',', ' ') }} €  <i id="fleche" class="fa fa-1x fa-long-arrow-right "></i> {{ prix_final|number_format(2, ',', ' ') }} €</h4>
                                    </a>
                                    <a href="{{ path('chef_plat_show', { 'id': entity.id }) }}">
                                        <h4>{{ entity.quantity }} {% if entity.quantity>1 %} parts {% else %} part {% endif %} / 4</h4>
                                    </a>
                                    {% if entity.active %}
                                        <a href="{{ path('chef_plat_show', { 'id': entity.id }) }}">
                                            <span class="label label-actif">Actif</span>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('chef_plat_show', { 'id': entity.id }) }}">
                                            <span class="label label-inactif">Inactif</span>
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('chef_plat_show', { 'id': entity.id }) }}">
                                        <h6>Plat créé le {{ entity.dateCreated|date('d/m/Y') }}</h6>
                                    </a>
                                    {#<a href="{{ path('chef_plat_show', { 'id': entity.id }) }}" ><i class="fa fa-1x fa-search-plus"></i>Visualiser ce plat</a>#}
                                </div>
                            </div>
                                {#<div>{% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d') }}{% endif %}</div>#}
                            {#<div>{% if entity.unableWhile %}{{ entity.unableWhile|date('Y-m-d') }}{% endif %}</div>#}
                            <div class="col-sm-4 col-md-3">
                                <div class="cellule-modifier">
                                    {#<a href="{{ path('chef_plat_show', { 'id': entity.id }) }}" class="btn btn-default btn-filtre btn-plus-filtres"><i class="fa fa-1x fa-eye"></i>Voir</a>#}
                                    <a href="{{ path('chef_plat_edit', { 'id': entity.id }) }}" class="btn btn-default btn-filtre btn-plus-filtres"><i class="fa fa-1x fa-pencil"></i>Modifier</a>
                                    {{ render(controller('ChefBundle:Plat:renderFormDelete', {id: entity.id})) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                {% endif %}

            </div>

            <div class="col-sm-12 text-center">
                <a href="{{ path('chef_plat_new') }}" class="btn btn-default btn-xl">Créer un nouveau plat</a>
            </div>

        </div>
    </section>
{% endblock content %}

{% block foot_scripts %}
    {{ parent() }}
    <script src="{{ asset("js/product.js") }}"></script>
{% endblock foot_scripts %}