{%  extends 'GourmetBundle::layout.html.twig' %}

{% block foot_scripts %}
    {{ parent() }}
    <script>
        $('#myStateButton').on('click', function () {
            var btn = $(this)
            btn.button('complete')
            setTimeout(function () {
                btn.button('reset')
            }, 2000)
        })
    </script>
{%  endblock foot_scripts %}

{% block titre %}Créer un plat {{ parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription" id="header-creation-plat">
        <div class="header-content header-content-transform">
            <div class="header-content-inner">
                <h1 class="h1-page">Créer un plat</h1>
                <h2 class="adresse-selection">Chef {{ app.user.username }}</h2>
            </div>
        </div>
    </header>

    <section id="page-creation-plat">
        <div class="container">

            <div class="col-sm-12 text-center photo-mon-compte ">
                {% if entityChef.image %}
                    <img src="{{ entityChef.image.webPath|imagine_filter('profil_picture') }}" alt="" class="img-circle">
                {% else %}
                    <img src={{ asset('bundles/gourmet/img/defaut/defaut-icon.png') }} alt="" class="img-circle">
                {% endif %}
            </div>

            <div class="row">

                <div class="col-lg-12 text-center titre-compte">
                    <h3 class="section-heading">Éveillez les papilles</h3>
                    <hr class="primary">
                    <p>Chaque plat sur Avekapeti est unique. Mettez en avant ce qui rend votre plat appétissant pour que les gourmets qui veulent déguster vos spécialités le remarquent.</p>
                </div>

                {% form_theme form 'form/form_errors.html.twig' %}
                {{ form_start(form, {'attr':{class: "form-horizontal"} } ) }}

                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.name,
                                    {
                                        attr:{class: "form-control",placeholder: "Nom",id: "nom",required: 'data-validation-required-message= "Veuillez entrer le nom du plat."'}
                                    })
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.name) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                {{ form_label(form.price, 'Prix en €', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.price,
                                    {
                                        attr:{class: "form-control",placeholder: "Prix", id: "prix",required: 'data-validation-required-message= "Veuillez entrer le prix du plat."'}
                                    })
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.price) }}</p>
                                    {#{% if entity.categorie == "Entrée" %}#}
                                    <p class="help-block">Le prix maximum d'une entrée est de 2 €</p>
                                    {#{% elseif entity.categorie == "Plat" %}#}
                                    <p class="help-block">Le prix maximum d'une plat principal est de 7 €</p>
                                    {#{% elseif entity.categorie == "Dessert" %}#}
                                    <p class="help-block">Le prix maximum d'un dessert est de 2 €</p>
                                    {#{% endif %}#}
                                    <p class="help-block">Le prix maximum d'une boisson est de 0,50 €</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                {{ form_label(form.image, 'Photo du plat', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-8">
                                    {#
                                    <input type="file" id="exampleInputFile3">
                                    <p class="help-block text-danger"></p>
                                    #}
                                    {{ form_widget(form.image,
                                    {
                                        attr:{id: "photo-plat",required: 'data-validation-required-message= "Veuillez sélectionner la photo du plat"'}
                                    })
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.image) }}</p>
                                </div>
                                <div class="col-md-8 col-md-offset-3">
                                    {% if entity.image %}
                                        <img  src="{{ entity.image.webPath|imagine_filter('plat_picture_small') }}" alt="">
                                    {% else %}
                                        <img src={{ asset('bundles/gourmet/img/defaut/defaut2.jpg') }} alt="">
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                {{ form_label(form.quantity, 'Nombre de parts', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.quantity,
                                    {
                                        attr:{maxlength:"50", class: "form-control",'value': "1" ,id: "quantite", required: 'data-validation-required-message= "Veuillez entrer la quantité du plat."'}
                                    })
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.quantity) }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                {{ form_label(form.categorie, 'Categorie', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.categorie,
                                    {
                                        attr:{class: "form-control",id: "categorie"}
                                    })
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.categorie) }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                {{ form_label(form.specialite, 'Spécialité', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.specialite,
                                    {
                                        attr:{class: "form-control",id: "specialite"}
                                    })
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.specialite) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label for="connu" class="col-md-3 control-label" id="label-piment">Ce plat est-il pimenté ?</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="connu">
                                        <option>Pas du tout</option>
                                        <option>Un peu</option>
                                        <option>Beaucoup</option>
                                        <option>Piments mis à part</option>
                                    </select>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                {{ form_label(form.tcoms, 'Type de repas', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.tcoms,
                                    {
                                        attr:{class: "form-control",id: "type-commande"}
                                    })
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.tcoms) }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                {{ form_label(form.tliv, 'Mode de remise', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.tliv,
                                    {
                                        attr:{class: "form-control",id: "type-livraison"}
                                    })
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.tliv) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                {{ form_label(form.content, 'Description (150 caractères maximum)', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.content,
                                    {
                                        attr:{class: "form-control",placeholder: "Description",id: "description",required: 'data-validation-required-message= "Veuillez entrer la description de votre plat."'}
                                    })
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.content) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label for="ingredients" class="col-md-3 control-label">Ingrédients</label>
                                <div class="col-md-8">
                                    <textarea id="ingredients" class="form-control" placeholder='-Ingrédient1                                                                  -Ingrédient2 ...' id="ingredients"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                {{ form_label(form.dateStart, 'Date de début', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.dateStart,
                                    {
                                        attr:{ type:"date",id: "date_debut"}
                                    })
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.dateStart) }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                {{ form_label(form.dateEnd, 'Date de fin', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.dateEnd,
                                    {
                                        attr:{ type:"date",id: "date_fin"}
                                    })
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.dateEnd) }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                {{ form_label(form.unableWhile, 'Fermeture des commandes', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.unableWhile,
                                    {
                                        attr:{ type:"date",id: "dispo"}
                                    })
                                    }}
                                    <p class="help-block text-danger">{{ form_errors(form.unableWhile) }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <div class="col-md-9 col-md-offset-3">
                                    <div class="checkbox">
                                        <label>
                                        {{ form_widget(form.active,
                                        {
                                            attr:{type:"checkbox",id: "actif"}
                                        })
                                        }}J'active ce plat
                                        </label>
                                    </div>
                                    <p class="help-block text-danger">{{ form_errors(form.active) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <div class="col-md-9 col-md-push-3">
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="remember-me" data-target="#MonCollapseBoisson" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">Je propose aussi une boisson
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="MonCollapseBoisson" class="collapse">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label for="boisson" class="col-md-3 control-label" id="label-boisson">Boisson</label>
                                    <div class="col-md-8">
                                        <input type="text" id="boisson" class="form-control" placeholder="Boisson">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label for="prix-boisson" class="col-md-3 control-label" id="label-prix-boisson">Prix boisson en €</label>
                                    <div class="col-md-8">
                                        <input type="text" id="prix-boisson" class="form-control" placeholder="Prix boisson en €">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="bandeau-btn">
                    <div class="col-md-5 text-right">
                        <div id="success"></div>
                        <a href="{{ path('chef_plat') }}" class="btn btn-default btn-filtre"><i class="fa fa-1x fa-undo"></i>Retour</a>
                    </div>

                    <div class="col-md-7 text-left">
                        <div id="success"></div>
                        <button type="submit" class="btn btn-default btn-xl" id="myStateButton" data-complete-text="Création du plat..." autocomplete="off">Créer ce plat</button>
                    </div>
                    {{ form_end(form) }}
                </div>


            </div>
        </div>
    </section>
{% endblock content %}

