{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Plat</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ entity.quantity }}</td>
            </tr>
            <tr>
                <th>Unablewhile</th>
                <td>{{ entity.unableWhile|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('chef_plat') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('chef_plat_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
