{%  extends 'GourmetBundle::layout.html.twig' %}

{% block foot_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/home/js/home.js') }}" xmlns="http://www.w3.org/1999/html"></script>
{%  endblock foot_scripts %}

{% block titre %}Plat{{ parent() }}{% endblock %}

{% block content %}

    <header class="header" id="header-index-plat">
        <div class="header-content header-content-transform">
            {#
            <div class="header-content-inner disparition">
                <h2 class="h1-page">Roti de boeuf Esterhazy<br>9 €</h2>
                <h3 class="adresse-selection">Chef Ludo94</h3>
            </div>
            #}
            {% if entity.image.id is defined %}
            <img class="img-background" src="{{ asset(entity.image.webPath('thumb-small')) }}" alt="" >
            {% endif %}
        </div>
    </header>

    <!-- Page Content -->
    <div class="container" id="index-plat">

        <div class="row">

            <div class="col-md-3 text-center carte-fixe">
                <div class="portrait-chef">
                    <a href=# class="lien-portrait-chef" >
                        <img src={{ asset('bundles/gourmet/img/chef/chef1.jpg') }} alt="" class="img-circle">
                        <h4 class="nom-plat lien-hover grande-recherche">Chef Ludo94</h4>
                        <p class="description-adresse grande-recherche">Rue Boileau, Paris</p>
                    </a>
                    <a href=# class="lien-portrait-chef grande-recherche" >
                        <h5 class="lien-hover souligner">Voir le chef en action</h5>
                    </a>
                </div>

                <iframe class="petite-carte" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d42002.097395699224!2d2.2577908499999997!3d48.85571065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1448422160580" width="290" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="caption-full">

                        <div class="row">

                            <div class="col-sm-10 texte-centre">
                                <h1>{{ entity.name }}</h1>
                                <div class="ratings"  data-target="#MonCollapsePlus1" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">
                                    <p>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        - 3 commentaires
                                    </p>

                                </div>

                            </div>

                            <div class="col-sm-2 text-center">
                                <button class="cercle">
                                    <div >
                                        <h3>9€</h3>
                                    </div>
                                </button>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                <div class="row bandeau-icon">
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <i class="fa fa-2x fa-cutlery"></i>
                                        <p>Plat</p>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <i class="fa fa-2x fa-globe"></i>
                                        <p>Africaine</p>
                                    </div>
                                    <div class="col-sm-2 col-xs-4 text-center">
                                        <i class="fa fa-2x fa-certificate"></i>
                                        <p>Sans porc</p>
                                    </div>
                                    <div class="col-sm-2 col-xs-4 text-center">
                                        <i class="fa fa-2x fa-adjust"></i>
                                        <p>{{ entity.quantity }} parts / 8 </p>
                                    </div>
                                    <div class="col-sm-2 col-xs-4 text-center">
                                        <i class="fa fa-2x fa-home"></i>
                                        <p>Livraison</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <p class="description-plat">{{ entity.content }}</p>
                            </div>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 col-md-push-6">
                                        <button class="btn btn-default btn-xl">Ajouter au panier</button>

                                    </div>
                                    <div class="col-md-4 col-md-pull-2">
                                        <button class="btn btn-default btn-filtre" type="button" data-target="#MonCollapsePlus1" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">
                                            <i class="fa fa-1x fa-plus"></i>En savoir plus
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 ">

                                <div id="MonCollapsePlus1" class="collapse">

                                    <p class="description-plat souligner">Ingrédients (pour 4 personnes) :</p>
                                    <ul>
                                        <li>4 tranches de rumsteck ou de rosbif de 180 g environ</li>
                                        <li>6 échalotes ou 2 oignons</li>
                                        <li>1 petite carotte, ½ racine de persil, 1 petit rutabaga et 1 petit morceau de sellerie rave</li>
                                        <li>1 cc de câpres hachées</li>
                                        <li>50 g de lardons</li>
                                        <li>4 cs de crème fraîche</li>
                                        <li>½ à 1 cs de farine pour la sauce</li>
                                        <li>300 à 400 ml de bouillon de bœuf ou d’eau</li>
                                        <li>Zeste de citron</li>
                                        <li>Farine pour fariner la viande</li>
                                        <li>Sel, poivre</li>
                                        <li>2 à 3 cs de beurre, beurre clarifié ou huile</li>
                                        <li>Persil haché pour garnir</li>
                                    </ul>

                                    <div class="well">

                                        <div class="row">
                                            <div class="col-md-2 text-center">
                                                <a href=# class="" >
                                                    <div class="panel-image-chef">
                                                        <img src={{ asset('bundles/gourmet/img/gourmet/angelina.jpg') }} alt="" class="img-circle">
                                                    </div>
                                                    <p>Angelina</p>
                                                </a>
                                            </div>
                                            <div class="col-md-10">
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart-empty"></span>
                                                <span class="pull-right">novembre 2015</span>
                                                <p>J’ai gouté ce roti de boeuf de Ludo94, il était excellent, on s’est régalé au bureau ! On recommande vivement !</p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-2 text-center">
                                                <a href=# class="" >
                                                    <div class="panel-image-chef">
                                                        <img src={{ asset('bundles/gourmet/img/gourmet/brad.jpg') }} alt="" class="img-circle">
                                                    </div>
                                                    <p>Brad</p>
                                                </a>
                                            </div>
                                            <div class="col-md-10">
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart-empty"></span>
                                                <span class="pull-right">octobre 2015</span>
                                                <p>Un pur délice ! La cuisson était parfaite, la viande fond dans la bouche. Bravo Ludo94 ! Nous allons nous revoir très vite ;)</p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-2 text-center">
                                                <a href=# class="" >
                                                    <div class="panel-image-chef">
                                                        <img src={{ asset('bundles/gourmet/img/gourmet/johnny.jpg') }} alt="" class="img-circle">
                                                    </div>
                                                    <p>Johnny</p>
                                                </a>
                                            </div>
                                            <div class="col-md-10">
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="pull-right">novembre 2015</span>
                                                <p>Ma copine et moi avons adoré votre roti de boeuf ! C’était exquis et copieux merci beaucoup.</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 col-md-offset-6">
                                        <a class="btn btn-default btn-filtre ">
                                            <i class="fa fa-1x fa-comment"></i>Laisser un commentaire
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Chef Ludo94 propose aussi ...</h2>
                        <hr>
                    </div>
                </div>

                <div class="thumbnail">
                    <div class="caption-full">

                        <div class="row">
                            <div class="col-sm-12">
                                <img src={{ asset('bundles/gourmet/img/plats/selection-plat/raviolesAuFromage.jpg') }} alt="" >
                            </div>

                            <div class="col-sm-10 texte-centre">
                                <h1>Ravioles au fromage</h1>
                                <div class="ratings"  data-target="#MonCollapsePlus2" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">
                                    <p>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                        - 1 commentaire
                                    </p>
                                </div>

                            </div>

                            <div class="col-sm-2 text-center">
                                <button class="cercle">
                                    <div >
                                        <h3>7€</h3>
                                    </div>
                                </button>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row bandeau-icon">
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <i class="fa fa-2x fa-sign-in"></i>
                                        <p>Entrée</p>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <i class="fa fa-2x fa-jpy"></i>
                                        <p>Asiatique</p>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <i class="fa fa-2x fa-tree"></i>
                                        <p>Végétarien</p>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <i class="fa fa-2x fa-adjust"></i>
                                        <p>4 parts / 5 </p>
                                    </div>
                                    <div class="col-sm-2 col-xs-12 text-center">
                                        <i class="fa fa-2x fa-bicycle"></i>
                                        <p>Retrait</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <p class="description-plat">La cuisine de Carinthie fait la part belle aux céréales, produits laitiers, viandes et poissons des lacs. L’une des spécialités les plus connues sont les Kasnudeln : ces ravioles au fromage exigent un bon tour de main si l’on veut que leur rebord soit joliment crénelé.</p>
                            </div>


                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 col-md-push-6">
                                        <button class="btn btn-default btn-xl">Ajouter au panier</button>
                                    </div>
                                    <div class="col-md-4 col-md-pull-2">
                                        <button class="btn btn-default btn-filtre" type="button" data-target="#MonCollapsePlus2" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">
                                            <i class="fa fa-1x fa-plus"></i>En savoir plus
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 ">

                                <div id="MonCollapsePlus2" class="collapse">

                                    <p class="description-plat souligner">Ingrédients (pour 4 personnes) :</p>
                                    <ul>
                                        <li>300 g de farine de type T55</li>
                                        <li>1 œuf</li>
                                        <li>1 trait d’huile</li>
                                        <li>1 pincée de sel</li>
                                        <li>Eau si nécessaire</li>
                                        <li>Blanc d’œuf pour enduire</li>
                                        <li>100 à150 g de beurre brun pour arroser</li>
                                    </ul>

                                    <div class="well">

                                        <div class="row">
                                            <div class="col-md-2 text-center">
                                                <a href=# class="" >
                                                    <div class="panel-image-chef">
                                                        <img src={{ asset('bundles/gourmet/img/gourmet/angelina.jpg') }} alt="" class="img-circle">
                                                    </div>
                                                    <p>Angelina</p>
                                                </a>
                                            </div>
                                            <div class="col-md-10">
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart-empty"></span>
                                                <span class="pull-right">novembre 2015</span>
                                                <p>J’ai gouté ce roti de boeuf de Ludo94, il était excellent, on s’est régalé au bureau ! On recommande vivement !</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 col-md-offset-6">
                                        <a class="btn btn-default btn-filtre ">
                                            <i class="fa fa-1x fa-comment"></i>Laisser un commentaire
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="thumbnail">
                    <div class="caption-full">

                        <div class="row">
                            <div class="col-sm-12">
                                <img src={{ asset('bundles/gourmet/img/plats/selection-plat/gateauChocolat.jpg') }} alt="" >
                            </div>

                            <div class="col-sm-10 texte-centre">
                                <h1>Gâteau au chocolat</h1>
                                <div class="ratings"  data-target="#MonCollapsePlus3" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">
                                    <p>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                        - 2 commentaires
                                    </p>

                                </div>

                            </div>

                            <div class="col-sm-2 text-center">
                                <button class="cercle">
                                    <div >
                                        <h3>4€</h3>
                                    </div>
                                </button>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row bandeau-icon">
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <i class="fa fa-2x fa-birthday-cake"></i>
                                        <p>Dessert</p>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <i class="fa fa-2x fa-umbrella"></i>
                                        <p>Occidentale</p>
                                    </div>
                                    <div class="col-sm-2 col-xs-6 text-center">
                                        <i class="fa fa-2x fa-adjust"></i>
                                        <p>5 parts / 5 </p>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 text-center">
                                        <i class="fa fa-2x fa-home"></i>
                                        <i class="fa fa-2x fa-bicycle"></i>
                                        <p>Livraison / Retrait</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <p class="description-plat">En 1832, lorsque le jeune apprenti Franz Sacher créa la Sachertorte à la cour du Prince Metternich, il n’imaginait pas l’impact qu’aurait son gâteau sur les amateurs de chocolat des quatre coins du monde.</p>
                            </div>


                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 col-md-push-6">
                                        <button class="btn btn-default btn-xl">Ajouter au panier</button>
                                    </div>
                                    <div class="col-md-4 col-md-pull-2">
                                        <button class="btn btn-default btn-filtre" type="button" data-target="#MonCollapsePlus3" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">
                                            <i class="fa fa-1x fa-plus"></i>En savoir plus
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 ">

                                <div id="MonCollapsePlus3" class="collapse">

                                    <p class="description-plat souligner">Ingrédients :</p>
                                    <ul>
                                        <li>200 g de nappage au chocolat noir ou de chocolat noir à pâtisserie</li>
                                        <li>250 g de sucre</li>
                                        <li>150 à 170 ml d’eau</li>
                                    </ul>

                                    <div class="well">

                                        <div class="row">
                                            <div class="col-md-2 text-center">
                                                <a href=# class="" >
                                                    <div class="panel-image-chef">
                                                        <img src={{ asset('bundles/gourmet/img/gourmet/angelina.jpg') }} alt="" class="img-circle">
                                                    </div>
                                                    <p>Angelina</p>
                                                </a>
                                            </div>
                                            <div class="col-md-10">
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart-empty"></span>
                                                <span class="pull-right">novembre 2015</span>
                                                <p>J’ai gouté ce roti de boeuf de Ludo94, il était excellent, on s’est régalé au bureau ! On recommande vivement !</p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-2 text-center">
                                                <div class="row">
                                                    <a href=# class="" >
                                                        <div class="panel-image-chef">
                                                            <img src={{ asset('bundles/gourmet/img/gourmet/brad.jpg') }} alt="" class="img-circle">
                                                        </div>
                                                        <p>Brad</p>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart-empty"></span>
                                                <span class="pull-right">octobre 2015</span>
                                                <p>Un pur délice ! La cuisson était parfaite, la viande fond dans la bouche. Bravo Ludo94 ! Nous allons nous revoir très vite ;)</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 col-md-offset-6">
                                        <a class="btn btn-default btn-filtre ">
                                            <i class="fa fa-1x fa-comment"></i>Laisser un commentaire
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <aside class="col-md-3 text-center ">
                {#<p class="nbre-part">Attention il ne reste que 3 parts !</p>#}
                <div class="panier">
                    <button class="btn btn-default btn-xl grande-recherche">Ajouter au panier</button>
                    <div class="fix">
                        <button class="btn btn-default btn-xl petite-recherche">Ajouter au panier</button>
                    </div>
                    <div id="panier-dynamique">
                        <div class="row">
                            <div class="col-md-9 ">
                                <p class="pull-left">Roti de boeuf x 1</p>
                            </div>
                            <div class="col-md-3">
                                <p class="pull-right">9 €</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-9 ">
                                <p class="pull-left">Ravioles au fromage x 2</p>
                            </div>
                            <div class="col-md-3">
                                <p class="pull-right">16 €</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-9 ">
                                <p class="pull-left">Gâteau au chocolat x 3</p>
                            </div>
                            <div class="col-md-3">
                                <p class="pull-right">12 €</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-9 ">
                                <p class="pull-left">Total</p>
                            </div>
                            <div class="col-md-3 pull-right">
                                <p class="pull-right">37 €</p>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-default btn-xl">Commander</a>
                </div>
            </aside>



            <!-- Related Projects Row -->
            <div class="vous-aimeriez">
                <div class="col-lg-12">
                    <h3 class="page-header">Si vous aimez ce plat, vous pourriez aimer ...</h3>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href={{ path('gourmet_platpage') }}>
                            <div class="monde-zoom">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div class="project-category ">
                                            Chef Max75
                                        </div>
                                        <div class="project-name">
                                            Boulevard Exelmans, Paris
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-part">
                                    <p>3 parts restantes <i class="fa fa-1x fa-home"></i><i class="fa fa-1x fa-bicycle"></i></p>
                                </div>
                                <img src={{ asset('bundles/gourmet/img/plats/selection-plat/porcBraiseAuxLegumesRacines.jpg') }} alt="" >
                            </div>
                        </a>
                        <div class="caption">
                            <a href=# class="lien-image-chef" >
                                <div class="panel-image-chef">
                                    <img src={{ asset('bundles/gourmet/img/chef/chef9.jpeg') }} alt="" class="img-circle">
                                </div>
                            </a>
                            <h4 class="nom-plat"><a href="{{ path('gourmet_platpage') }}"><span class="lien-hover">Porc braisé aux légumes</span> - 8 €</a> </h4>
                        </div>
                        <div class="ratings">
                            <a href="{{ path('gourmet_platpage') }}">
                                <p>Viande -
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                    - 11 commentaires
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href={{ path('gourmet_platpage') }}>
                            <div class="monde-zoom">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div class="project-category ">
                                            Chef Luc95
                                        </div>
                                        <div class="project-name">
                                            Avenue Victor Hugo, Boulogne-Billancourt
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-part">
                                    <p>5 parts restantes <i class="fa fa-1x fa-bicycle"></i></p>
                                </div>
                                <img src={{ asset('bundles/gourmet/img/plats/selection-plat/knodelsAuLard.jpg') }} alt="" >
                            </div>
                        </a>
                        <div class="caption">
                            <a href=# class="lien-image-chef" >
                                <div class="panel-image-chef">
                                    <img src={{ asset('bundles/gourmet/img/chef/chef3.jpg') }} alt="" class="img-circle">
                                </div>
                            </a>
                            <h4 class="nom-plat"><a href="{{ path('gourmet_platpage') }}"><span class="lien-hover">Knodels au lard</span> - 8 €</a></h4>
                        </div>
                        <div class="ratings">
                            <a href="{{ path('gourmet_platpage') }}">
                                <p>Viande -
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                    - 5 commentaires
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href={{ path('gourmet_platpage') }}>
                            <div class="monde-zoom">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div class="project-category ">
                                            Chef Luc95
                                        </div>
                                        <div class="project-name">
                                            Avenue Victor Hugo, Boulogne-Billancourt
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-part">
                                    <p>2 parts restantes <i class="fa fa-1x fa-home"></i></p>
                                </div>
                                <img src={{ asset('bundles/gourmet/img/plats/selection-plat/SaladeDePouletPané.jpg') }} alt="" >
                            </div>
                        </a>
                        <div class="caption">
                            <a href=# class="lien-image-chef" >
                                <div class="panel-image-chef">
                                    <img src={{ asset('bundles/gourmet/img/chef/chef8.jpg') }} alt="" class="img-circle">
                                </div>
                            </a>
                            <h4 class="nom-plat"><a href="{{ path('gourmet_platpage') }}"><span class="lien-hover">Salade de poulet pané</span> - 6 €</a></h4>
                        </div>
                        <div class="ratings">
                            <a href="{{ path('gourmet_platpage') }}">
                                <p>Viande -
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                    - 4 commentaires
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="record_actions">
                <li>
                    <a href="{{ path('chef_plat') }}">
                        Back to the list
                    </a>
                </li>
                <li>
                    <a href="{{ path('chef_plat_edit', { 'id': entity.id }) }}">
                        Edit
                    </a>
                </li>
                <li>
                   <!-- <a href="{{ path('chef_plat_delete', { 'id': entity.id }) }}">
                        delete
                    </a>-->
                    {{ form(delete_form) }}
                </li>
            </ul>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock content %}
