{%  extends 'GourmetBundle::layout.html.twig' %}

{% block foot_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/home/js/home.js') }}" xmlns="http://www.w3.org/1999/html"></script>
{%  endblock foot_scripts %}

{% block titre %}{{ entity.name }}{{ parent() }}{% endblock %}

{% block content %}

    <header class="header" id="header-index-plat">
            {#<div class="header-content header-content-transform">
            {
            <div class="header-content-inner disparition">
                <h2 class="h1-page">Roti de boeuf Esterhazy<br>9 €</h2>
                <h3 class="adresse-selection">Chef Ludo94</h3>
            </div>
            #}
            <div class="cadre-img-background">
            {% if entity.image %}
                <img class="img-background" src="{{ entity.image.webPath|imagine_filter('plat_picture_big') }}" alt="" >
            {% else %}
                <img class="img-background" src={{ asset('bundles/gourmet/img/defaut/defaut2.jpg') }} alt="">
            {% endif %}
            </div>

    </header>

    <!-- Page Content -->
    <div class="container" id="index-plat">

        <div class="row">

            <div class="col-md-3 text-center carte-fixe">
                <div class="portrait-chef">
                    <a href=# class="lien-portrait-chef" >
                        {% if entityChef.image is not null %}
                            <img src="{{ asset(entityChef.image.webPath|imagine_filter('profil_picture_small')) }}" alt="" class="img-circle">
                        {% else %}
                            <img src={{ asset('bundles/gourmet/img/defaut/defaut-icon.png') }} alt="" class="img-circle">

                        {% endif %}
                        <h4 class="nom-plat lien-hover grande-recherche">Chef {{ entityChef.login }}</h4>
                        <p class="description-adresse grande-recherche">{{ entityChef.adress }}, {{ entityChef.city }}</p>
                    </a>
                    <a href=# class="lien-portrait-chef grande-recherche" >
                        <h5 class="lien-hover souligner">Voir le chef en action</h5>
                    </a>
                </div>

                <iframe class="petite-carte" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d42002.097395699224!2d2.2577908499999997!3d48.85571065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1448422160580" width="290" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="caption-full">

                        <div class="row">

                            <div class="col-sm-10 texte-centre">
                                <h1>{{ entity.name }}</h1>
                                <div class="ratings"  data-target="#MonCollapsePlus" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">
                                    <p>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        - 3 commentaires
                                    </p>

                                </div>

                            </div>

                            <div class="col-sm-2 text-center">
                                <button class="cercle">
                                    <div >
                                        <h3>{{ entity.price }}€</h3>
                                    </div>
                                </button>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-12">
                                <div class="row bandeau-icon">
                                    <div class="col-sm-2 col-xs-4 text-center">
                                    {% if entity.categorie %}
                                        {% if entity.categorie.name == "Entrée" %}
                                            <i class="fa fa-2x fa-sign-in"></i>
                                        {% elseif entity.categorie.name == "Dessert" %}
                                            <i class="fa fa-2x fa-birthday-cake"></i>
                                        {% elseif entity.categorie.name == "Menu" %}
                                            <i class="fa fa-2x fa-book"></i>
                                        {% else %}
                                            <i class="fa fa-2x fa-cutlery"></i>
                                        {% endif %}
                                        <p>{{ entity.categorie.name }}</p>
                                    {% endif %}
                                    </div>
                                    <div class="col-sm-2 col-xs-4 text-center">
                                    {% if entity.specialite %}
                                        {% if entity.specialite.name == "Occidentale" %}
                                            <i class="fa fa-2x fa-umbrella"></i>
                                        {% elseif entity.specialite.name == "Orientale" %}
                                            <i class="fa fa-2x fa-try"></i>
                                        {% elseif entity.specialite.name == "Asiatique" %}
                                            <i class="fa fa-2x fa-jpy"></i>
                                        {% else %}
                                            <i class="fa fa-2x fa-globe"></i>
                                        {% endif %}
                                        <p>{{ entity.specialite.name }}</p>
                                    {% endif %}
                                    </div>
                                    <div class="col-sm-2 col-xs-4 text-center">
                                        {#{% if entity.pimente %}
                                            {% if entity.pimente.name == "Pimente" %}#}
                                                <i class="fa fa-2x fa-bomb"></i>
                                            {#{% else %}
                                                <i class="fa fa-2x fa-smile-o"></i>
                                            {% endif %}#}
                                            {#<p>{{ entity.pimente.name }}</p>#}
                                            <p>Pimenté</p>
                                        {#{% endif %}#}
                                    </div>
                                    <div class="col-sm-2 col-xs-4 text-center">
                                        {#{% if entity.specificite.name == "Végétarien" %}
                                            <i class="fa fa-2x fa-tree"></i>
                                        {% else %}
                                            <i class="fa fa-2x fa-certificate"></i>
                                        {% endif %}#}
                                        <i class="fa fa-2x fa-certificate"></i>
                                        <p>Sans porc</p>
                                    </div>
                                    <div class="col-sm-2 col-xs-4 text-center">
                                        <i class="fa fa-2x fa-adjust"></i>
                                        <p>{{ entity.quantity }} parts / 8 </p>
                                    </div>
                                    <div class="col-sm-2 col-xs-4 text-center">
                                    {% if entity.tliv %}
                                        {% if entity.tliv.name == "Retrait" %}
                                            <i class="fa fa-2x fa-bicycle"></i>
                                        {% else %}
                                            <i class="fa fa-2x fa-home"></i>
                                        {% endif %}
                                        <p>{{ entity.tliv.name }}</p>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="contenu-msg">
                                    <p class="description-plat">{{ entity.content|nl2br }}</p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4 col-md-push-4">
                                    <button class="btn btn-default btn-filtre" type="button" data-target="#MonCollapsePlus" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">
                                        <i class="fa fa-1x fa-plus"></i>En savoir plus
                                    </button>
                                </div>
                            </div>

                            <div class="col-md-12 ">

                                <div id="MonCollapsePlus" class="collapse">

                                    <p class="description-plat souligner">Ingrédients (pour 4 personnes) :</p>
                                    <ul>
                                        <li>4 tranches de rumsteck ou de rosbif de 180 g environ</li>
                                        <li>6 échalotes ou 2 oignons</li>
                                        <li>1 petite carotte, ½ racine de persil, 1 petit rutabaga et 1 petit morceau de sellerie rave</li>
                                        <li>1 cc de câpres hachées</li>
                                        <li>50 g de lardons</li>
                                        <li>4 cs de crème fraîche</li>
                                        <li>½ à 1 cs de farine pour la sauce</li>
                                        <li>300 à 400 ml de bouillon de bœuf ou d’eau</li>
                                        <li>Zeste de citron</li>
                                        <li>Farine pour fariner la viande</li>
                                        <li>Sel, poivre</li>
                                        <li>2 à 3 cs de beurre, beurre clarifié ou huile</li>
                                        <li>Persil haché pour garnir</li>
                                    </ul>

                                    <div class="well">

                                        <div class="row">
                                            <div class="col-md-2 text-center">
                                                <a href=# class="" >
                                                    <div class="panel-image-chef">
                                                        <img src={{ asset('bundles/gourmet/img/gourmet/angelina.jpg') }} alt="" class="img-circle">
                                                    </div>
                                                    <p>Angelina</p>
                                                </a>
                                            </div>
                                            <div class="col-md-10">
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart-empty"></span>
                                                <span class="pull-right">novembre 2015</span>
                                                <p>J’ai gouté ce roti de boeuf de Ludo94, il était excellent, on s’est régalé au bureau ! On recommande vivement !</p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-2 text-center">
                                                <a href=# class="" >
                                                    <div class="panel-image-chef">
                                                        <img src={{ asset('bundles/gourmet/img/gourmet/brad.jpg') }} alt="" class="img-circle">
                                                    </div>
                                                    <p>Brad</p>
                                                </a>
                                            </div>
                                            <div class="col-md-10">
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart-empty"></span>
                                                <span class="pull-right">octobre 2015</span>
                                                <p>Un pur délice ! La cuisson était parfaite, la viande fond dans la bouche. Bravo Ludo94 ! Nous allons nous revoir très vite ;)</p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-2 text-center">
                                                <a href=# class="" >
                                                    <div class="panel-image-chef">
                                                        <img src={{ asset('bundles/gourmet/img/gourmet/johnny.jpg') }} alt="" class="img-circle">
                                                    </div>
                                                    <p>Johnny</p>
                                                </a>
                                            </div>
                                            <div class="col-md-10">
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="pull-right">novembre 2015</span>
                                                <p>Ma copine et moi avons adoré votre roti de boeuf ! C’était exquis et copieux merci beaucoup.</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 col-md-offset-6">
                                        <a class="btn btn-default btn-filtre ">
                                            <i class="fa fa-1x fa-comment"></i>Laisser un commentaire
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {#<div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 col-md-push-6">
                                        <button class="btn btn-default btn-xl">Ajouter au panier</button>
                                        <a href="{{ path('chef_plat_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xl">Modifier</a>
                                    </div>
                                    <div class="col-md-4 col-md-pull-2">
                                        <a href="{{ path('chef_plat') }}" class="btn btn-default btn-xl">Mes plats</a>
                                    </div>
                                </div>
                            </div>#}
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Chef {{ entityChef.login }} propose aussi ...</h2>
                        <hr>
                    </div>
                </div>
                {% set i=0 %}
                {% for entit in entities %}
                    {% if entit.id != entity.id %}
                        {% set i=i+1 %}
                        <div class="thumbnail">
                            <div class="caption-full">

                                <div class="row">
                                    <div class="col-sm-12">
                                        {% if entit.image %}
                                            <img src="{{ entit.image.webPath|imagine_filter('plat_picture_medium') }}" alt="" >
                                        {% else %}
                                            <img src={{ asset('bundles/gourmet/img/defaut/defaut2.jpg') }} alt="">
                                        {% endif %}
                                    </div>

                                    <div class="col-sm-10 texte-centre">
                                        <h2>{{ entit.name }}</h2>
                                        <div class="ratings"  data-target="#MonCollapsePlus{{i}}" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">
                                            <p>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart"></span>
                                                <span class="glyphicon glyphicon-heart-empty"></span>
                                                - 1 commentaire
                                            </p>
                                        </div>

                                    </div>

                                    <div class="col-sm-2 text-center">
                                        <button class="cercle">
                                            <div >
                                                <h3>{{ entit.price }}€</h3>
                                            </div>
                                        </button>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row bandeau-icon">
                                            <div class="col-sm-2 col-xs-6 text-center">
                                                {% if entity.categorie %}
                                                    {% if entity.categorie.name == "Entrée" %}
                                                        <i class="fa fa-2x fa-sign-in"></i>
                                                    {% elseif entity.categorie.name == "Dessert" %}
                                                        <i class="fa fa-2x fa-birthday-cake"></i>
                                                    {% elseif entity.categorie.name == "Menu" %}
                                                        <i class="fa fa-2x fa-book"></i>
                                                    {% else %}
                                                        <i class="fa fa-2x fa-cutlery"></i>
                                                    {% endif %}
                                                    <p>{{ entity.categorie.name }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-2 col-xs-6 text-center">
                                                {% if entity.specialite %}
                                                    {% if entity.specialite.name == "Occidentale" %}
                                                        <i class="fa fa-2x fa-umbrella"></i>
                                                    {% elseif entity.specialite.name == "Orientale" %}
                                                        <i class="fa fa-2x fa-try"></i>
                                                    {% elseif entity.specialite.name == "Asiatique" %}
                                                        <i class="fa fa-2x fa-jpy"></i>
                                                    {% else %}
                                                        <i class="fa fa-2x fa-globe"></i>
                                                    {% endif %}
                                                    <p>{{ entity.specialite.name }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-2 col-xs-4 text-center">
                                                {#{% if entity.specificite.name == "Végétarien" %}
                                                    <i class="fa fa-2x fa-tree"></i>
                                                {% else %}
                                                    <i class="fa fa-2x fa-certificate"></i>
                                                {% endif %}#}
                                                <i class="fa fa-2x fa-certificate"></i>
                                                <p>Sans porc</p>
                                            </div>
                                            <div class="col-sm-2 col-xs-4 text-center">
                                                <i class="fa fa-2x fa-adjust"></i>
                                                <p>{{ entity.quantity }} parts / 8 </p>
                                            </div>
                                            <div class="col-sm-2 col-xs-4 text-center">
                                                {% if entity.tliv %}
                                                    {% if entity.tliv.name == "Retrait" %}
                                                        <i class="fa fa-2x fa-bicycle"></i>
                                                    {% else %}
                                                        <i class="fa fa-2x fa-home"></i>
                                                    {% endif %}
                                                    <p>{{ entity.tliv.name }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <p class="description-plat">{{ entit.content|nl2br }}</p>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="row">
                                            {#<div class="col-md-4 col-md-push-6">
                                                <button class="btn btn-default btn-xl">Ajouter au panier</button>
                                            </div>#}
                                            <div class="col-md-4 col-md-push-4">
                                                <button class="btn btn-default btn-filtre" type="button" data-target="#MonCollapsePlus{{i}}" data-toggle="collapse" aria-expanded="false" aria-controls="MonCollapse">
                                                    <i class="fa fa-1x fa-plus"></i>En savoir plus
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 ">

                                        <div id="MonCollapsePlus{{i}}" class="collapse">

                                            <p class="description-plat souligner">Ingrédients (pour 4 personnes) :</p>
                                            <ul>
                                                <li>300 g de farine de type T55</li>
                                                <li>1 œuf</li>
                                                <li>1 trait d’huile</li>
                                                <li>1 pincée de sel</li>
                                                <li>Eau si nécessaire</li>
                                                <li>Blanc d’œuf pour enduire</li>
                                                <li>100 à150 g de beurre brun pour arroser</li>
                                            </ul>

                                            <div class="well">

                                                <div class="row">
                                                    <div class="col-md-2 text-center">
                                                        <a href=# class="" >
                                                            <div class="panel-image-chef">
                                                                <img src={{ asset('bundles/gourmet/img/gourmet/angelina.jpg') }} alt="" class="img-circle">
                                                            </div>
                                                            <p>Angelina</p>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <span class="glyphicon glyphicon-heart"></span>
                                                        <span class="glyphicon glyphicon-heart"></span>
                                                        <span class="glyphicon glyphicon-heart"></span>
                                                        <span class="glyphicon glyphicon-heart"></span>
                                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                                        <span class="pull-right">novembre 2015</span>
                                                        <p>J’ai gouté ce roti de boeuf de Ludo94, il était excellent, on s’est régalé au bureau ! On recommande vivement !</p>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-6 col-md-offset-6">
                                                <a class="btn btn-default btn-filtre ">
                                                    <i class="fa fa-1x fa-comment"></i>Laisser un commentaire
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endif %}
                {% endfor %}

            </div>


            <aside class="col-md-3 ">
                {#<p class="nbre-part">Attention il ne reste que 3 parts !</p>#}
                <div class="panier">
                    <h3 class="text-center">Ce plat est
                        {% if entity.active %}
                            <span class="label label-actif">Actif</span>
                        {% else %}
                            <span class="label label-inactif">Inactif</span>
                        {% endif %}
                    </h3>
                    <a href="{{ path('chef_plat_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xl-plat show-mes-plats">Modifier ce plat</a>
                    <button  class="btn btn-default show-mes-plats" data-toggle="modal" data-target=".bs-example-modal-sm">
                        Supprimer ce plat
                    </button>
                    {{ form_start(delete_form) }}

                        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Suppression de {{ entity.name }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Etes-vous sur de vouloir supprimer ce plat ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Valider</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ form_end(delete_form) }}
                    <a href="{{ path('chef_plat') }}" class="btn btn-default  btn-filtre btn-xl">
                        <i class="fa fa-1x fa-th-list"></i> Afficher mes plats
                    </a>

                    {#<button class="btn btn-default btn-xl grande-recherche">Ajouter au panier</button>
                    <div class="fix">
                        <button class="btn btn-default btn-xl petite-recherche">Ajouter au panier</button>
                    </div>
                    <div id="panier-dynamique">
                        <div class="row">
                            <div class="col-md-9 ">
                                <p class="pull-left">Roti de boeuf x 1</p>
                            </div>
                            <div class="col-md-3">
                                <p class="pull-right">9 €</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-9 ">
                                <p class="pull-left">Ravioles au fromage x 2</p>
                            </div>
                            <div class="col-md-3">
                                <p class="pull-right">16 €</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-9 ">
                                <p class="pull-left">Gâteau au chocolat x 3</p>
                            </div>
                            <div class="col-md-3">
                                <p class="pull-right">12 €</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-9 ">
                                <p class="pull-left">Total</p>
                            </div>
                            <div class="col-md-3 pull-right">
                                <p class="pull-right">37 €</p>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-default btn-xl">Commander</a> #}


                </div>
            </aside>



            <!-- Related Projects Row -->
            <div class="vous-aimeriez">
                <div class="col-lg-12">
                    <h3 class="page-header">Si vous aimez ce plat, vous pourriez aimer ...</h3>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href={{ path('gourmet_platpage') }}>
                            <div class="monde-zoom">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div class="project-category ">
                                            Chef Max75
                                        </div>
                                        <div class="project-name">
                                            Boulevard Exelmans, Paris
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-part">
                                    <p>3 parts restantes <i class="fa fa-1x fa-home"></i><i class="fa fa-1x fa-bicycle"></i></p>
                                </div>
                                <img src={{ asset('bundles/gourmet/img/plats/selection-plat/porcBraiseAuxLegumesRacines.jpg') }} alt="" >
                            </div>
                        </a>
                        <div class="caption">
                            <a href=# class="lien-image-chef" >
                                <div class="panel-image-chef">
                                    <img src={{ asset('bundles/gourmet/img/chef/chef9.jpeg') }} alt="" class="img-circle">
                                </div>
                            </a>
                            <h4 class="nom-plat"><a href="{{ path('gourmet_platpage') }}"><span class="lien-hover">Porc braisé aux légumes</span> - 8 €</a> </h4>
                        </div>
                        <div class="ratings">
                            <a href="{{ path('gourmet_platpage') }}">
                                <p>Viande -
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                    - 11 commentaires
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href={{ path('gourmet_platpage') }}>
                            <div class="monde-zoom">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div class="project-category ">
                                            Chef Luc95
                                        </div>
                                        <div class="project-name">
                                            Avenue Victor Hugo, Boulogne-Billancourt
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-part">
                                    <p>5 parts restantes <i class="fa fa-1x fa-bicycle"></i></p>
                                </div>
                                <img src={{ asset('bundles/gourmet/img/plats/selection-plat/knodelsAuLard.jpg') }} alt="" >
                            </div>
                        </a>
                        <div class="caption">
                            <a href=# class="lien-image-chef" >
                                <div class="panel-image-chef">
                                    <img src={{ asset('bundles/gourmet/img/chef/chef3.jpg') }} alt="" class="img-circle">
                                </div>
                            </a>
                            <h4 class="nom-plat"><a href="{{ path('gourmet_platpage') }}"><span class="lien-hover">Knodels au lard</span> - 8 €</a></h4>
                        </div>
                        <div class="ratings">
                            <a href="{{ path('gourmet_platpage') }}">
                                <p>Viande -
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                    - 5 commentaires
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href={{ path('gourmet_platpage') }}>
                            <div class="monde-zoom">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div class="project-category ">
                                            Chef Luc95
                                        </div>
                                        <div class="project-name">
                                            Avenue Victor Hugo, Boulogne-Billancourt
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-part">
                                    <p>2 parts restantes <i class="fa fa-1x fa-home"></i></p>
                                </div>
                                <img src={{ asset('bundles/gourmet/img/plats/selection-plat/SaladeDePouletPané.jpg') }} alt="" >
                            </div>
                        </a>
                        <div class="caption">
                            <a href=# class="lien-image-chef" >
                                <div class="panel-image-chef">
                                    <img src={{ asset('bundles/gourmet/img/chef/chef8.jpg') }} alt="" class="img-circle">
                                </div>
                            </a>
                            <h4 class="nom-plat"><a href="{{ path('gourmet_platpage') }}"><span class="lien-hover">Salade de poulet pané</span> - 6 €</a></h4>
                        </div>
                        <div class="ratings">
                            <a href="{{ path('gourmet_platpage') }}">
                                <p>Viande -
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                    - 4 commentaires
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock content %}
