{%  extends  "@HomeBundle/Resources/views/layout.html.twig" %}

{% block foot_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/home/js/home.js') }}"></script>
{%  endblock foot_scripts %}

{% block nav %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href={{ path('home_homepage') }}>Avekapeti</a>
                <!--<img src="{{ asset('bundles/home/img/logo.jpg') }}" class="img-responsive logo-nav" alt="logo">-->

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href={{ path('home_homepage') }}#chef>Devenez Chef</a>
                    </li>
                    <li>
                        <a class="page-scroll" href={{ path('home_homepage') }}#mode-emploi>Mode d'emploi</a>
                    </li>
                    <li>
                        <a class="page-scroll" href={{ path('home_homepage') }}#plats>Nos plats</a>
                    </li>
                    <li>
                        <a class="page-scroll" href={{ path('home_homepage') }}#contact>Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% endblock nav %}

{% block content %}
    <header class="header-chef">
        <div class="header-opacity"></div>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Proposez vos plats</h1>
                <br>
                <p>Avekapeti a besoin de Chefs comme vous<br> Préparez-vous une révolution arrive !</p>
                <hr>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="adressInput"></label>
                        <input type="mail" class="address-input" id="adressInput" placeholder="Votre email">
                    </div>
                    <button type="submit" class="btn btn-primary btn-xl find-chef">Inscription</button>
                </form>
            </div>
        </div>
    </header>

{% endblock content %}