{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Commande</h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ entity.total }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>plat</th>
                <td> {% for plat in entity.plat %}
                        {{ plat.name }}<br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('chef_commande') }}">
            Back to the list
        </a>
    </li>

</ul>
{% endblock %}
