{%  extends 'GourmetBundle::layout.html.twig' %}

{% block titre %}{{ entity.status }} {{ parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription" id="header-voir-commande">
        <div class="header-content header-content-transform">
            <div class="header-content-inner">
                <h1 class="h1-page">Ma commande</h1>
                <h2 class="adresse-selection">Chef {{ app.user.username }}</h2>
            </div>
        </div>
    </header>

    <section id="page-voir-commande">
        <div class="container">

            <div class="col-sm-12 text-center photo-mon-compte ">
                {% if entityUser.image %}
                    <img src="{{ entityUser.image.webPath('thumb-small')|imagine_filter('profil_picture') }}" alt="" class="img-circle">
                {% else %}
                    <img src={{ asset('bundles/gourmet/img/defaut/defaut-icon.png') }} alt="" class="img-circle">
                {% endif %}
            </div>

            <div class="col-md-8 col-md-offset-2">

                <div class="row ligne-titre-commande">

                    {% for message in app.session.flashBag.get('error_cancel_command') %}
                        <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}

                    {% for message in app.session.flashBag.get('success_cancel_command') %}
                        <p class="alert alert-success">{{ message }}</p>
                    {% endfor %}

                    {% for message in app.session.flashBag.get('error_code_command') %}
                        <p class="alert alert-danger">{{ message }}</p>
                    {% endfor %}

                    {% for message in app.session.flashBag.get('success_code_command') %}
                        <p class="alert alert-success">{{ message }}</p>
                    {% endfor %}

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-filtre" type="button">
                                        <i class="fa fa-1x fa-check-square-o"></i>Valider</span>
                                    </button>
                                </span>
                                <input type="search" class="form-control" placeholder="Pour valider la commande, renseignez le code donné par le gourmet">
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-xs-8">
                            <h2>{{ entity.status }}</h2>
                        </div>
                        <div class="col-xs-4 text-right">
                            <h2>{{ entity.total }} €</h2>
                        </div>
                    </div>

                </div>
                <div class="row ligne-voir-msg">
                    <div class="col-xs-8 col-sm-3">
                        <h4>
                            <a href="{{ path('gourmet_commande_details', { 'id': entity.id }) }}">
                                {% if entity.utilisateur %}
                                    <h3>{{ entity.utilisateur.login }}</h3>
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="{{ path('gourmet_commande_details', { 'id': entity.id }) }}">
                            {% if  entity.utilisateur.image %}
                                <img src="{{ entityUser.image.webPath('thumb-small')|imagine_filter('profil_picture_small') }}" alt="" class="img-voir-msg">
                            {% else %}
                                <img src="{{ asset('bundles/gourmet/img/defaut/defaut-icon.png') }}" alt="" class="img-voir-msg">
                            {% endif %}
                        </a>
                    </div>

                    <div class="col-xs-12 col-sm-7 text-right">
                        <h4>le {{ entity.dateCreated|date('d/m/Y') }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="col-xs-6 col-md-3 text-center">
                            {% if entity.livraison %}
                                {% if entity.livraison.name == "Retrait" %}
                                    <i class="fa fa-2x fa-bicycle"></i>
                                {% else %}
                                    <i class="fa fa-2x fa-home"></i>
                                {% endif %}
                                <p>{{ entity.livraison.name }}</p>
                            {% endif %}
                        </div>
                        <div class="col-xs-6 col-md-3 text-center">
                            {% if entity.typecommande %}
                                {% if entity.typecommande.name == "Petit-déjeuner" %}
                                    <i class="fa fa-2x fa-bed"></i>
                                {% elseif entity.typecommande.name == "Déjeuner" %}
                                    <i class="fa fa-2x fa-sun-o"></i>
                                {% elseif entity.typecommande.name == "Goûter" %}
                                    <i class="fa fa-2x fa-coffee"></i>
                                {% elseif entity.typecommande.name == "Diner" %}
                                    <i class="fa fa-2x fa-moon-o"></i>
                                {% else %}
                                    <i class="fa fa-2x fa-calendar"></i>
                                {% endif %}
                                <p>{{ entity.typecommande.name }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-6 text-center">
                            {% if entity.content %}
                                <i class=" fa fa-2x fa-comment"></i>
                                <p >{{ entity.content|nl2br }}</p>
                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            {% if listePlats is defined %}
                                <ul class="liste-plats-commande">
                                    {% for commandePlat in listePlats %}
                                        <div class="row" {% if entity.status == "Validée" %} id="ligne-active" {% elseif entity.status == "Abandonnée" %} id="ligne-desactive" {% else %} id="ligne-intermediaire" {% endif %}>
                                            <div class="col-sm-6">
                                                <a href="#">
                                                    <h2>{{ commandePlat.plats.name }}</h2>
                                                </a>
                                                <li class="col-md-offset-1">Prix d'une part : {{ commandePlat.plats.price }} €</li>
                                                <li class="col-md-offset-1">Nombre de parts : x{{ commandePlat.quantity }}</li>
                                                <h3 class="text-right">{{ commandePlat.plats.price * commandePlat.quantity }} €</h3>
                                            </div>
                                            <div class="col-sm-5 col-sm-push-1">
                                                <div class="cellule-img">
                                                    <a href="#">
                                                        {% if commandePlat.plats.image %}
                                                            <img  src="{{ commandePlat.plats.image.webPath|imagine_filter('plat_picture_small') }}" alt="">
                                                        {% else %}
                                                            <img src={{ asset('bundles/gourmet/img/defaut/defaut2.jpg') }} alt="">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {% if listeMenus is defined %}
                                <ul class="liste-plats-commande">
                                    {% for commandeMenu in listeMenus %}
                                        <div class="row" {% if entity.status == "Validée" %} id="ligne-active" {% elseif entity.status == "Abandonnée" %} id="ligne-desactive" {% else %} id="ligne-intermediaire" {% endif %}>
                                            <div class="col-sm-6">
                                                <a href="#">
                                                    <h2>{{ commandeMenu.plats.name }}</h2>
                                                </a>
                                                <li class="col-md-offset-1">Prix d'une part : {{ commandeMenu.plats.price }} €</li>
                                                <li class="col-md-offset-1">Nombre de parts : x{{ commandeMenu.quantity }}</li>
                                                <h3 class="text-right">{{ commandeMenu.plats.price * commandeMenu.quantity }} €</h3>
                                            </div>
                                            <div class="col-sm-5 col-sm-push-1">
                                                <div class="cellule-img">
                                                    <a href="#">
                                                        {% if commandeMenu.plats.image %}
                                                            <img  src="{{ commandePlat.plats.image.webPath|imagine_filter('plat_picture_small') }}" alt="">
                                                        {% else %}
                                                            <img src={{ asset('bundles/gourmet/img/defaut/defaut2.jpg') }} alt="">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center">
                <div id="success"></div>
                <a href="{{ path('chef_commande') }}" class="btn btn-default btn-filtre"><i class="fa fa-1x fa-undo"></i>Retour</a>
                <button class="btn btn-default btn-filtre" data-toggle="modal" data-target=".bs-example-modal-sm" data-target="#myModal">
                    <i class="fa fa-1x fa-ban"></i>Annuler la commande</span>
                </button>
            </div>

            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Annulation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Etes-vous sur de vouloir annuler la commande ?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary" >Valider</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock content %}
