{% extends "AvekApetiBackBundle:Main:index.html.twig" %}

{% block titre %} {{ parent() }}{% endblock %}

{% block content -%}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Affichage de #{{ entity.id }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <p><span class="gras">Id :</span> {{ entity.id }}</p>
            <p><span class="gras">Nom :</span> {{ entity.name }}</p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <a class="btn btn-info" href="{{ path('categorie') }}">Retour à la liste</a>
    <a class="btn btn-primary" href="{{ path('categorie_edit', { 'id': entity.id }) }}">Modifier</a>
    <hr>
    {{ form(delete_form) }}


{% endblock %}
