{% extends "AvekApetiBackBundle:Main:index.html.twig" %}

{% block titre %} {{ parent() }}{% endblock %}

{% block content -%}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Nouvelle Spécialité</h1>
        </div>

        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_label(form.name, 'Nom') }}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':"Nom"}}) }}
                                <p class="help-block text-danger">{{ form_errors(form.name) }}</p>
                            </div>
                            <div class="col-md-12">
                                <div id="success"></div>
                                <a href="{{ path('specialite') }}" class="btn btn-info">Retour à la liste</a>
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                                <hr>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock content %}
