{%  extends  "@GourmetBundle/Resources/views/base.html.twig" %}

{% block body %}
    {% block nav %}
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href={{ path('gourmet_homepage') }}>Accueil</a>
                    <!--<img src="{{ asset('bundles/gourmet/img/logo.jpg') }}" class="img-responsive logo-nav" alt="logo">-->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href={{ path('gourmet_chef_inscription_page') }}>Devenez Chef</a>
                        </li>
                        <li>
                            <a class="page-scroll" href={{ path('gourmet_gourmet_inscription_page') }}>Inscription</a>
                        </li>
                        {% set login = true %}
                        {% if login == true %}
                            <li>
                                <a class="page-scroll" href={{ path('gourmet_loginpage') }}>Déconnexion</a>
                            </li>
                            <li>
                                <a>Mon compte</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="page-scroll" href={{ path('gourmet_loginpage') }}>Connexion</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="page-scroll" href={{ path('gourmet_contactpage') }}>Contact</a>
                        </li>
                        <li>
                            <a class="page-scroll" href={{ path('gourmet_feedbackpage') }}>Feedback</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    {% endblock nav %}
    {% block content %}
    {% endblock content %}

    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Avekapeti 2015</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/avekapeti"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li><a href="#">Confidentialité</a>
                            </li>
                            <li><a href="#">Conditions générales</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock footer %}
{% endblock body %}


