{% extends "AvekApetiBackBundle:Main:index.html.twig" %}

{% block titre %}Administration {{ parent() }}{% endblock %}

{% block content -%}

    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">Liste des Commandes</h1>
        </div>
        <div class="col-lg-2">
            <a href="{{ path('commande_new') }}" class="btn btn-success page-header">Ajouter une commande</a>
        </div>

        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Date de création</th>
                                <th>Total</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr class="odd gradeX">
                                    <td><a href="{{ path('commande_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                    <td>{% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{{ entity.total }}</td>
                                    <td>{{ entity.status }}</td>
                                    <td>
                                        <a href="{{ path('chef_show', { 'id': entity.id }) }}" class="btn btn-primary">Voir</a>
                                        <a href="{{ path('chef_edit', { 'id': entity.id }) }}" class="btn btn-info">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>


{% endblock content %}


