{%  extends  "@GourmetBundle/Resources/views/layout.html.twig" %}

{% block titre %}Devenez Chef{{ parent() }}{% endblock %}

{% block content %}
    <header class="header-inscription " id="chef-inscription">
        <div class="header-content header-content-transform">


                {% if (is_granted('ROLE_GOURMET')) %}

                    {% if (is_granted('ROLE_CHEF')) %}
                        <h1>Vous êtes deja Chef !</h1>
                    {% else %}
                        <div class="col-md-5 col-md-offset-1">
                            <div class="row">
                                <div class="bloc-titre-inscription">
                                    <h1 class="h1-page">Faites profiter vos voisins de vos talents culinaires</h1>
                                    <p class="description-inscription">Gagnez de l'argent en toute simplicité sur AVEKAPETI ! Vous cuisinez quand vous le souhaitez, vous préparez vos plats préférés et vous gagnez de l'argent pour chaque commande. Devenez Chef avec AVEKAPETI, inscrivez-vous maintenant !</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-1" >
                            <div class="row">
                                <div class="login-panel panel panel-default panel-perso">
                                    <div class="panel-body">
                                        <fieldset>
                                            <div class="checkbox remember">
                                                <label>
                                                    {{ form_widget(form.newsletter,
                                                    {
                                                        attr:{name: "remember", value: "Remember Me"}
                                                    })
                                                    }}
                                                    J’accepte de recevoir des recettes astuces et bon plans culinaires
                                                </label>
                                            </div>
                                           {#{{ form_widget(form.submit,{label:"Devenir Chef",
                                                attr:{class:"btn btn-primary btn-xl btn-valider-inscription"},
                                                id:"Envoyer"
                                            })
                                            }}#}
                                            <a href="{{ path('chef_enregistrement') }}" id="envoyer" class="btn btn-primary btn-xl btn-valider-inscription">Devenir Chef</a>
                                            <div class="form-group">
                                                <p class="acceptation">En cliquant sur Créer un compte, j'accepte les <a href="#">Conditions générales</a> d'Avekapeti et certifie être majeur..</p>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                <div class="col-md-5 col-md-offset-1">
                    <div class="row">
                        <div class="bloc-titre-inscription">
                            <h1 class="h1-page">Faites profiter vos voisins de vos talents culinaires</h1>
                            <p class="description-inscription">Gagnez de l'argent en toute simplicité sur AVEKAPETI ! Vous cuisinez quand vous le souhaitez, vous préparez vos plats préférés et vous gagnez de l'argent pour chaque commande. Devenez Chef avec AVEKAPETI, inscrivez-vous maintenant !</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-1" >
                    <div class="row">

                        <div class="login-panel panel panel-default panel-perso">
                            <div class="panel-body">
                                {{ form_start(form) }}
                                {#
                                <div class=" panel-heading-perso ">
                                    <a href="#" class="btn btn-primary btn-xl btn-facebook-inscription"><i class="fa fa-2x fa-facebook logo-facebook"></i>Inscription avec Facebook</a>
                                </div>
                                <p class="ou">ou</p>
                                <hr class="margin-hr">
                                #}

                                <fieldset>
                                    <div class="form-group has-feedback">
                                        {{ form_widget(form.login,
                                        {
                                            attr:{class: "form-control form-control-perso",placeholder: "Pseudo",id: "login-gourmet",required: 'data-validation-required-message= "Veuillez entrer votre login."'}
                                        })
                                        }}
                                        <!-- <input type="text" class="form-control form-control-perso" placeholder="Nom" id="nom-gourmet" required data-validation-required-message="Veuillez entrer votre nom." autofocus>-->
                                        <span class="glyphicon glyphicon-user form-control-feedback glyphicon-perso"></span>
                                        <p class="help-block text-danger">{{ form_errors(form.login) }}</p>
                                    </div>
                                    <!--<div class="form-group has-feedback">
                                        <input type="text" class="form-control form-control-perso" placeholder="Prénom" id="prenom-gourmet" required data-validation-required-message="Veuillez entrer votre prénom.">
                                        <span class="glyphicon glyphicon-user form-control-feedback glyphicon-perso"></span>
                                        <p class="help-block text-danger"></p>
                                    </div>-->
                                    <div class="form-group has-feedback">
                                        {{ form_widget(form.email,
                                        {
                                            attr:{class: "form-control form-control-perso",placeholder: "Adresse e-mail : nom@exemple.com",id: "email-gourmet",required: 'data-validation-required-message= "Veuillez entrer votre email."'}
                                        })
                                        }}
                                        <!--  <input type="email" class="form-control form-control-perso" placeholder="Adresse e-mail : nom@exemple.com" id="email-gourmet" required data-validation-required-message="Veuillez entrer votre email.">-->
                                        <span class="glyphicon glyphicon-envelope form-control-feedback glyphicon-perso"></span>
                                        <p class="help-block text-danger">{{ form_errors(form.email) }}</p>
                                    </div>
                                    <div class="form-group has-feedback">
                                        {{ form_widget(form.phone,
                                        {
                                            attr:{class: "form-control form-control-perso",placeholder: "Téléphone",id: "telephone-gourmet",required: 'data-validation-required-message= "Veuillez entrer votre numéro de téléphone."'}
                                        })
                                        }}
                                        <!--<input type="tel" class="form-control form-control-perso" placeholder="Téléphone" id="telephone-gourmet" required data-validation-required-message="Veuillez entrer votre numéro de téléphone.">-->
                                        <span class="glyphicon glyphicon-earphone form-control-feedback glyphicon-perso"></span>
                                        <p class="help-block text-danger">{{ form_errors(form.phone) }}</p>
                                    </div>
                                    <div class="form-group has-feedback">
                                        {{ form_widget(form.password,
                                        {
                                            attr:{class: "form-control form-control-perso",placeholder: "Mot de passe",id: "password-gourmet",required: 'data-validation-required-message= "Veuillez entrer votre mot de passe."'}
                                        })
                                        }}
                                        <!--<input type="password" class="form-control form-control-perso" placeholder="Mot de passe" id="password-gourmet" required data-validation-required-message="Veuillez entrer votre numéro de téléphone.">-->
                                        <span class="glyphicon glyphicon-lock form-control-feedback glyphicon-perso"></span>
                                        <p class="help-block text-danger">{{ form_errors(form.password) }}</p>
                                    </div>
                                    <div class="checkbox remember">
                                        <label>
                                            {{ form_widget(form.newsletter,
                                            {
                                                attr:{name: "remember", value: "Remember Me"}
                                            })
                                            }}

                                            <!-- <input name="remember"  type="checkbox" value="Remember Me">-->J’accepte de recevoir des recettes astuces et bon plans culinaires
                                        </label>
                                    </div>
                                    {{ form_widget(form.submit,{label:"Créer un compte",
                                        attr:{class:"btn btn-primary btn-xl btn-valider-inscription"},
                                        id:"Envoyer"
                                    })
                                    }}
                                    <!--<button type="submit" class="btn btn-primary btn-xl btn-valider-inscription">Créer un compte</button>-->
                                    <div class="form-group">
                                        <p class="acceptation">En cliquant sur Créer un compte, j'accepte les <a href="#">Conditions générales</a> d'Avekapeti et certifie être majeur.</p>
                                    </div>
                                    <hr>
                                    <p class="acceptation">Déjà membre Avekapeti ? <a href={{ path('gourmet_loginpage') }} >Connexion</a></p>
                                </fieldset>
                                <!--</form>-->
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
        </div>
    </header>
{% endblock content %}


{% block footer %}
{% endblock footer %}