{% extends "AvekApetiBackBundle:Main:index.html.twig" %}

{% block titre %} {{ parent() }}{% endblock %}

{% block content -%}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Affichage de #{{ entity.id }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <p><span class="gras">Id :</span> {{ entity.id }}</p>
            <p><span class="gras">Nom :</span> {{ entity.name }}</p>
            <p><span class="gras">Description :</span> {{ entity.content }}</p>
            <p><span class="gras">Prix :</span> {{ entity.price }} €</p>
            <p><span class="gras">Quantité :</span> {{ entity.quantity }}</p>
            <p><span class="gras">Actif :</span> {% if entity.active %}Oui {% else %}Non {% endif %}</p>
            <p><span class="gras">Fermeture des commandes :</span> {{ entity.unableWhile|date('Y-m-d H:i:s') }}</p>
            <p><span class="gras">Heure de début :</span> {{ entity.dateStart|date('Y-m-d H:i:s') }}</p>
            <p><span class="gras">Heure de fin :</span> {{ entity.dateEnd|date('Y-m-d H:i:s') }}</p>
            <p><span class="gras">Chef :</span> {{ entity.utilisateur.login }}</p>
            <p><span class="gras">Spécialité :</span> {{ entity.specialite.name }}</p>
            <p><span class="gras">Catégorie :</span> {{ entity.categorie.name }}</p>
            <p><span class="gras">Type de repas :</span> {{ entity.tcoms.name }}</p>
            <p><span class="gras">Mode de remise :</span> {{ entity.tliv.name }}</p>
            <p><span class="gras">Date de création :</span> {{ entity.dateCreated|date('Y-m-d H:i:s') }}</p>
            <p><span class="gras">Photo :</span> <img src="{{ entity.image.webPath|imagine_filter('plat_picture_small') }}" alt=""></p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <a class="btn btn-info" href="{{ path('plat') }}">Retour à la liste</a>
    <a class="btn btn-primary" href="{{ path('plat_edit', { 'id': entity.id }) }}">Modifier</a>
    <hr>
    {{ form(delete_form) }}

{% endblock %}