{%  extends  "@GourmetBundle/Resources/views/layout.html.twig" %}

{% block foot_scripts %}
    {{ parent() }}
    <script type="text/javascript">
        var banListe=['1','2','3','4','5','6'];
        document.getElementsByTagName('header')[0].className += 'header' + banListe[Math.floor(Math.random()*banListe.length)];
    </script>
{%  endblock foot_scripts %}

{% block titre %}Avekapeti{% endblock %}

{% block content %}
    <header  id="header-home">
        <div class="header-content header-content-transform">
            <div class="header-content-inner">
                <h1 id="h1-home">Le fait maison à portée de clics</h1>
                <p>Bientôt vous pourrez commander en quelques clics un plat fait maison sur Avekapeti <br> Préparez-vous une révolution arrive !</p>
                <a href="#mode-emploi" class="btn btn-xl btn-semi-transparent page-scroll ">Mode d'emploi</a>
                <form class="form-inline form-recherche" action={{ path('gourmet_selection_platpage') }}>
                    <div class="form-adresse">
                        <label for="adressInput"></label>
                        <input type="text" class="address-input" id="adressInput" placeholder="Où êtes-vous ?">
                    </div>
                    <button type="submit" class="btn btn-primary btn-xl">
                        <span class="glyphicon glyphicon-search glyphycon-loupe petite-recherche" aria-hidden="true"></span>
                        <span class="grande-recherche">Rechercher un plat</span>
                    </button>
                </form>
            </div>
        </div>
    </header>

    <!-- Mode d'emploi -->
    <section id="mode-emploi">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Simple comme bonjour !</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6  text-center">
                    <div class="service-box">
                        <img class="img-responsive img-hover img-related grand-mere" src={{ asset('bundles/gourmet/img/landing/grand-mere.png') }} alt="avekapeti" >
                        <h3>Bernadette a eu les yeux plus gros que le ventre</h3>
                        <p class="text-muted"> Connaissez vous Bernadette ? Quelle honte c'est votre voisine ! Elle prépare actuellement un boeuf bourguignon pour sa famille et a des parts en trop.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <img class="img-responsive img-hover img-related idea" src={{ asset('bundles/gourmet/img/landing/marie-idris.png') }} alt="avekapeti"" >
                        <h3>Marie et Idris commandent une part en ligne</h3>
                        <p class="text-muted">Marie et Idris veulent manger un bon petit plat fait maison. Mais sans cuisiner ni faire la vaisselle avekapeti.com vient à la rescousse !</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <img class="img-responsive img-hover img-related immeuble" src={{ asset('bundles/gourmet/img/landing/immeuble.jpg') }} alt="avekapeti"" >
                        <h3>Bernadette vient livrer son plat</h3>
                        <p class="text-muted">Dring dring ! Bernadette est sur le palier. Avec son boeuf bourguignon</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <img class="img-responsive img-hover img-related plat-design" src={{ asset('bundles/gourmet/img/landing/plat-design.jpg') }} alt="avekapeti"" >
                        <h3>Marie et Idris se régalent</h3>
                        <p class="text-muted"> Manger sain, équilibré, fait maison, et sans effort... Si si c’est maitenant possible ! Avec avekapeti.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to action Chef -->
    <section class="bg-primary bg-cta-chef" id="chef">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Ouvrez la porte de votre cuisine à vos voisins !</h2>
                    <p>Gagnez de l'argent en toute simplicité avec Avekapeti en proposant vos plats.</p>
                    <a href={{ path('gourmet_chef_inscription_page') }} class="btn btn-default btn-xl">Devenez Chef</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Plats du jour -->
    <section id="portfolio" class="bg-light-gray plat-jour">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Découvrez nos plats du jour !</h2>
                    <hr class="primary">
                    <p>Découvrez de nouveaux plats incroyables près de chez vous. Nos entrées, plats ou dessert pour les repas de tous les jours comme pour recevoir des invités. Idéal pour varier les plaisir sans se ruiner. </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6 col-sm-4 portfolio-item">
                    <a href={{ path('gourmet_platpage') }} class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <div class="project-category">
                                    Chef Max75
                                </div>
                                <div class="project-name">
                                    Boulettes de viande et tomate fraîche
                                </div>
                                <h3>9 €</h3>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/gourmet/img/plats/bouletteDeViande.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-sm-4 portfolio-item">
                    <a href={{ path('gourmet_platpage') }} class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <div class="project-category">
                                    Chef Ludo94
                                </div>
                                <div class="project-name">
                                    Lasagne aux courgettes
                                </div>
                                <h3>8 €</h3>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/gourmet/img/plats/lasagneCourgette.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-sm-4 portfolio-item">
                    <a href={{ path('gourmet_platpage') }} class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <div class="project-category">
                                    Chef Luc95
                                </div>
                                <div class="project-name">
                                    Tiramisu
                                </div>
                                <h3>6 €</h3>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/gourmet/img/plats/tiramisu.jpg') }}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to Action Gourmet -->
    <section class="bg-primary bg-cta-gourmet" id="gourmet">
        <div class="container">
            <div class="row call-to-action">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Commandez votre plat !</h2>
                    <p>Créez votre compte et commandez votre plat en quelques minutes.</p>
                    <a href="{{ path('gourmet_gourmet_inscription_page') }}" class="btn btn-default btn-xl  wow tada">Inscription</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Spécialités -->
    <section id="portfolio" class="bg-light-gray specialite">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Explorer le monde !</h2>
                    <hr class="primary">
                    <p>Découvrez ce que mangent les gens, à travers le monde entier.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href={{ path('gourmet_platpage') }} class="portfolio-link">
                        <div class="monde-zoom">
                            <div class="monde monde-petit">
                                <h3>Viande</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-8 col-sm-6 portfolio-item">
                    <a href={{ path('gourmet_platpage') }} class="portfolio-link">
                        <div class="monde-zoom">
                            <div class="monde monde-moyen">
                                <h3>Poisson</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-12 col-sm-6 portfolio-item">
                    <a href={{ path('gourmet_platpage') }} class="portfolio-link">
                        <div class="monde-zoom">
                            <div class="monde monde-grand">
                                <h3>Dessert</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading">Vous avez des questions ?</h2>
                <hr class="light">
                <p>Comment rechercher un plat ? Et si j'ai un imprévu, comment annuler ma réservation ? Comment récupérer mon argent disponible ? Et si mon chef est injoignable ?</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row margin-haut">
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="Nom" id="nom" required data-validation-required-message="Veuillez entrer votre nom.">
                                    <span class="glyphicon glyphicon-user form-control-feedback glyphicon-perso"></span>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="Prénom" id="prenom" required data-validation-required-message="Veuillez entrer votre prénom.">
                                    <span class="glyphicon glyphicon-user form-control-feedback glyphicon-perso"></span>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group has-feedback">
                                    <input type="tel" class="form-control" placeholder="Téléphone" id="telephone" required data-validation-required-message="Veuillez entrer votre numéro de téléphone.">
                                    <span class="glyphicon glyphicon-earphone form-control-feedback glyphicon-perso"></span>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group has-feedback">
                                    <input type="email" class="form-control" placeholder="Adresse e-mail : nom@exemple.com" id="email" required data-validation-required-message="Veuillez entrer votre email.">
                                    <span class="glyphicon glyphicon-envelope form-control-feedback glyphicon-perso"></span>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <textarea class="form-control" placeholder="Message" id="message" required data-validation-required-message="Veuillez entrer votre message.."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-default btn-xl">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}