<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" c content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Un peu de patience AVEKAPETI est en train de mijoter mais sera bientôt prêt ! N'hésitez pas à nous laisser votre adresse mail afin d'être les premiers informés du lancement du site">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/gourmet/favicon.ico') }}" />

    <title>Avekapeti</title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/gourmet/css/template/bootstrap.min.css') }}" type="text/css">

        <!-- Custom Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/gourmet/css/template/font-awesome.min.css') }}" type="text/css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

        <!-- Plugin CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/gourmet/css/template/animate.min.css') }}" type="text/css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/gourmet/css/template/creative.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('bundles/gourmet/css/template/shop-item.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('bundles/gourmet/css/template/shop-homepage.css') }}" type="text/css">

        <link rel="stylesheet" href="{{ asset('bundles/gourmet/css/main.css') }}" type="text/css">

</head>

<body id="page-top">

    <header id="header-landing">

            <div class="row petite-nav-landing">
                <div class="bloc-nav-landing">
                    <a class="" href=#>
                            <img src="{{ asset('bundles/gourmet/img/logo/avekapeti-logo-RVB-02.png') }}" class="img-responsive logo-nav" alt="logo">
                            <h2>Avekapeti</h2>
                    </a>
                </div>
            </div>


        <div class="header-content header-content-transform">
            <div class="header-content-inner">
                <h1 id="h1-home">Envie d'un bon petit plat fait maison ?</h1>
                <p>Un peu de patience AVEKAPETI est en train de mijoter mais sera bientôt prêt !<br>N'hésitez pas à nous laisser votre adresse mail afin d'être les premiers informés du lancement du site</p>
                <a href="#mode-emploi" class="btn btn-xl btn-semi-transparent page-scroll ">Mode d'emploi</a>
                <form class="form-inline form-recherche">
                    <div class="form-adresse">
                        <input type="email" class="address-input" placeholder="Adresse e-mail">
                    </div>
                    <button type="submit" class="btn btn-primary btn-xl">
                        <span class="petite-recherche">Go</span>
                        <span class="grande-recherche">Enregistrez-vous</span>
                    </button>
                </form>
            </div>
        </div>
    </header>

    <section id="mode-emploi">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6  text-center">
                    <div class="service-box">
                        <img class="img-responsive img-hover img-related grand-mere" src={{ asset('bundles/gourmet/img/landing/grand-mere.png') }} alt="avekapeti" >
                        <h3>Bernadette cuisine un bon petit plat</h3>
                        <p class="text-muted">Connaissez vous Bernadette ?<br>Quelle honte c'est votre voisine !<br>Elle prépare actuellement un bon repas pour sa famille et a des parts en trop</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <img class="img-responsive img-hover img-related idea" src={{ asset('bundles/gourmet/img/landing/idea.png') }} alt="avekapeti"" >
                        <h3>Thibault commande une part en ligne</h3>
                        <p class="text-muted">Pendant ce temps, Thibault veut manger un repas mais ne veut pas cuisiner ni faire la vaisselle...<br>Eureka ! Il se souvient qu'il peut commander une part du plat de Bernadette sur AVEKAPETI</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <img class="img-responsive img-hover img-related immeuble" src={{ asset('bundles/gourmet/img/landing/immeuble.jpg') }} alt="avekapeti"" >
                        <h3>Bernadette vient livrer son plat</h3>
                        <p class="text-muted">Dring dring !<br>Bernadette est à la porte avec son bon petit plat fait maison</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <img class="img-responsive img-hover img-related plat-design" src={{ asset('bundles/gourmet/img/landing/plat-design.jpg') }} alt="avekapeti"" >
                        <h3>Thibault se régale</h3>
                        <p class="text-muted">Manger sain, équilibré, fait maison à des prix abordables et sans cuisiner si si ca sera bientôt possible sur AVEKAPETI</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer-landing">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <a href=#>
                        <img src="{{ asset('bundles/gourmet/img/logo/avekapeti-logo-RVB-01.png') }}" class="img-responsive" alt="logo">
                    </a>
                </div>
                <div class="col-sm-4">
                    <p>Rejoignez-nous sur </p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.facebook.com/avekapeti"><i class="fa fa-facebook"></i></a>
                    </ul>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{{ asset('bundles/gourmet/js/template/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gourmet/js/template/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gourmet/js/template/jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gourmet/js/template/jquery.fittext.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gourmet/js/template/wow.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gourmet/js/template/creative.js') }}"></script>
</body>
</html>


